body {
  overflow: hidden; margin: 0px; padding: 0px;
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
}

#page-toolbar {
  margin-top: 0em;
}

#soundposter {
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
  width: 100%; height: 100%; margin: 0px; padding: 0px;
}

#sp-bar {
  width: 100%;
  min-height: 38px;
  background-color: #000;
  color: #fff; border-bottom: 2px solid #fff;
  position: fixed; left: 0px; top: 0px;
  z-index: 2001;
}
/** ### firefox: psition relative form trakcname.. +2px fromt op **/
#sp-bar a,
#sp-bar a:link,
#sp-bar a:visited {
  color: #fff; text-decoration: none; cursor: pointer; padding: 4px;
}

#lgn { 
  cursor: pointer; margin-top: 0.2em; color: #fff; padding-left: 4px;
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
}

#contact {
  position: absolute; left: 20px; bottom: 20px; color: #e8e8e8;
}
/** background-color: #000; padding-top: 5px;
  height: 35px; width:210px; position: absolute; bottom: 20px; right: 0px;
  -moz-border-radius-topleft: 50px; border-top-left-radius: 50px;  **/


#sp-bar a:hover {
  color: #fff; text-decoration: underline; cursor: pointer; padding: 4px;
}

.title, .title a { 
  font-size: 24px; text-decoration: none; float:right; margin-top: 0.2em; 
}

.shadowed {
  text-shadow: 1px 1px 5px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}

#trackMenu {
  position: absolute; left: 345px; top: 15px;
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
}

ul.control-area {
    display: inline; position: fixed; top: 5px; left: 10px; margin: 0px; padding: 0px; z-index: 2;
}

ul.info-area {
    display: inline; position: fixed; top: 5px; left: 385px; margin: 0px; padding: 0px; z-index: 3;
}

.map-info, 
.start-button {
  display: none;
}

#trackMenu ul {
  list-style-type: none; cursor: pointer; padding-top: 6px;
}

#trackMenu li {
  background-color: #fff; color: #000; height: 23px; padding-left: 6px; padding-right: 6px; padding-top: 2px; padding-bottom: 2px;
  border-left: 1px solid #fff; border-right: 1px solid #fff;
}

#trackMenu li:hover {
  background-color: #000; color: #fff; border-left: 1px solid #fff; border-right: 1px solid #fff;
}

li.playFromStart {
  background-color: #000; color: #40b0e2; height: 23px; padding-left: 6px; padding-right: 6px; padding-top: 2px; padding-bottom: 2px;
  cursor: pointer; position: fixed; left: 325px; top: 2px; /* border-left: 1px solid #fff; border-right: 1px solid #fff;  */ z-index: 4;
}

.selectedTrackname {
  border-left: 1px solid #fff; border-right: 1px solid #fff; background-color: #000; color: #fff !important;
  position: relative; top: 3px; cursor: pointer; padding-left: 6px; padding-right: 6px;
}

.selectedTrackname:hover {
  border-left: 1px solid #fff; border-right: 1px solid #fff; background-color: #000; color: #fff;
  position: relative; top: 3px;
}

.myTrackname {
  /** position: absolute; left: 240px; top: 15px; **/
  position: relative; top: 0px; border-left: 1px solid #000; border-right: 1px solid #000;
  cursor: pointer; padding-left: 6px; padding-right: 6px; background-color: #000; color: #fff !important;
}

.mapname { color: #40b0e2; padding-left: 2px; background-color: #000; }

.myTrackname:hover {
  border-left: 1px solid #fff; border-right: 1px solid #fff; background-color: #000; color: #fff;
} 

.player {
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
  /** bottom: 40px; left: 40px; position: fixed; ***/ z-index: 2003;
  top: -8px; left: 20px; position: fixed;
  /** background-color: #e8e8e8; border: 1px solid #2a75c6;**/
}

#jp-container .track-name {
  background-color: #383838; padding: 10px; color: #40b0e2;
}

.postergraphic {
  position: absolute; left: -600px; top: -600px;
}

.player a img {
  border: none;
  border: 0;
}

.player a.jp-prev img,
.player a.jp-next img {
  position: relative; top: -2px; padding-left:4px; padding-right: 4px;
}

.player a, .player a:link, .player a:visited, .player a:focus, .player a:active {
  /** background-color: #fff;  **/ background-color: #000; border: 1px solid #000;
  color: #383838; text-decoration: none; padding: 5px; padding-bottom: 0px; padding-top: 18px;
  border-bottom: 1px solid #000;
}

.player li.playFromStart,
.player li.myTrackname,
.player li.jp-current-time,
.player li.jp-duration {
  margin-top: 3px;
}

.player a:hover {
  background-color: #000; border: 1px solid #fff; border-bottom: 1px solid #000;
  color: #fff; text-decoration: none; padding: 5px; padding-bottom: 0px; padding-top: 18px;
}

#mapName {
  padding-top: 2px;
}

.player a.jp-volume-bar {
  background-color: #000; color: #fff; border: 1px solid #000; position: relative; top: 2px; padding: 5px;
}

.player a.jp-volume-bar:hover {
  background-color: #fff; color: #000; border: 1px solid #fff; position: relative; top: 2px; padding: 5px
}

.player ul {
  list-style-type:none; padding: 0px; min-width: 1200px; overflow: hidden;
  width:100%; overflow:hidden;
}

.jp-unmute, .jp-stop {
  display:none;
}

.player li {
  float:left;
  margin-right:1em; 
  color: #40b0e2;
}

.player p span.track-name {
  color: #fff;
}

