body {
    font-family: "Open Sans", "Myriad Pro Regular", "Trebuchet MS", "sans-serif";
    padding: 0px; margin: 0px;
    color: darkgray;
    /** background: #F9F9F9 url(/com.soundposter.webapp/images/mozillas-bg-stone.png) 50% -100px repeat-x; **/
}

#hello {
    height: 60px; 
}

/**  old-styling
 *   font-family: "Myriad Pro Regular","Trebuchet MS"; font-size: 20px; 
 *   note: #40b0e2; shadowed: #5c5c5c; light-bleu:
 */

.highlight {
    color: #40B0E2; /** #5b7b95;*/
    font-weight: bold;
    font-size: 48px;
}
 
a, a:link, a:visited {
    text-decoration: none;
    color: #333;
}

#header {
    /** background-color: #000; 
     *  border-bottom: 3px solid #a9a9a9;
     **/
    /** background: #F9F9F9 url(/com.soundposter.webapp/images/mozillas-bg-stone.png) 50% -200px repeat-x; **/
    background-image: linear-gradient(bottom, rgb(250,250,250) 3%, rgb(240,237,240) 52%);
    background-image: -o-linear-gradient(bottom, rgb(250,250,250) 3%, rgb(240,237,240) 52%);
    background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 3%, rgb(240,237,240) 52%);
    background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 3%, rgb(240,237,240) 52%);
    background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 3%, rgb(240,237,240) 52%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, rgb(250,250,250)),
        color-stop(0.52, rgb(240,237,240))
    );
    font-size: 18px;
    color: #fff;
    width: 100%;
    padding-top: 25px; padding-bottom: 25px;
}

#header .title {
    position: absolute; right: 35px; top: 40px;
    margin-top: 10px;
    color: #3a3a3a;
}

#header .message {
    margin-left: 127px;
    font-size: 18px;
    color: #000;
}

a.btn {
    color: #a9a9a9;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

#header a.btn.random {
    position: absolute; top: 20px; right: 40px;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 5px;
}

#header a.btn.sign-up {
    position: absolute;
    top: 20px; left: 40px;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 5px;
}

#header a.selected {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid #40B0E2;    
}

#header a.btn.random:active,
#header a.btn.random:hover,
#header a.btn.sign-up:hover,
#header a.btn.sign-up:active,
#header a.btn.sign-up:focus {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid #40B0E2;
}

#sign-up-dialog {
    /** position: absolute;
    top: 40px; left: 40px; **/
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 40px;
}

.mailfield {
    padding: 0px; border: 1px solid #333; height: 30px;
    padding-left: 8px; width: 30%; min-width: 328px; /** top: -25px; left: 475px; */
    margin-right: 10px; border: 0px solid #fff;
}

.submit.btn {
    height: 30px;
    background-color: #fff;
    border: 2px solid #40B0E2;
    cursor: pointer;
}

@-moz-document url-prefix() {
    .submit.btn {
        padding-bottom: 4px;
    }
}

#cover {
    border: 1px solid #5b7b95;
    margin-left: auto; margin-right: auto;
    margin-top: 60px; width: 582px; padding: 10px;
    /** -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.25);
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,.25);
    -box-shadow: 0 2px 4px rgba(0,0,0,.25);
    box-shadow: 0 2px 4px rgba(0,0,0,.25);**/
}

#footer {
    margin-left: auto; margin-right: auto;
    margin-top: 80px; width: 90%; padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    /** border-top: 1px dashed #a9a9a9; **/
}

a.btn.twitter {
    float: right;
    border-top: 3px solid #fff;
}

a.btn.contact {
    float:left;
    border-top: 3px solid #fff;
}

a.btn.twitter:active,
a.btn.twitter:hover,
a.btn.contact:hover,
a.btn.contact:active {
    color: #000;
    text-decoration: none;
    border-top: 3px solid #40B0E2;
}