body {
    font-family: "Open Sans", "Myriad Pro Regular", "Trebuchet MS", "sans-serif";
    padding: 0px; margin: 0px;
    color: darkgray;
    /** background: #F9F9F9 url(/com.soundposter.webapp/images/mozillas-bg-stone.png) 50% -100px repeat-x; **/
}

#hello {
    height: 40px; 
}

/**  old-styling
 *   font-family: "Myriad Pro Regular","Trebuchet MS"; font-size: 20px; 
 *   note: #40b0e2; shadowed: #5c5c5c; light-bleu:
 */

.highlight {
    color: #40B0E2; /** #5b7b95;*/
    font-weight: bold;
    font-size: 48px;
}
 
a, a:link, a:visited {
    text-decoration: none;
    color: #333;
}

#cover {
    /** border: 1px solid #5b7b95; **/
    margin-left: auto; margin-right: auto;
    margin-top: 0px; width: 520px; padding: 10px;
    /** -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.25);
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,.25);
    -box-shadow: 0 2px 4px rgba(0,0,0,.25);
    box-shadow: 0 2px 4px rgba(0,0,0,.25);**/
}

#header {
    /** background: #F9F9F9 url(/com.soundposter.webapp/images/mozillas-bg-stone.png) 50% -200px repeat-x;
    background: rgb(250,250,250);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 73%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(73%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 73%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 73%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 73%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(255,255,255,1) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=0 );
     **/
    font-size: 18px;
    color: #fff;
    width: 100%;
    min-height: 120px;
    padding-top: 25px; padding-bottom: 25px;
}

#header .title {
    position: absolute; left: 45px; top: 25px;
    margin-top: 10px;
    color: #3a3a3a;
}

#header .message {
    position: relative; left: 127px; top: 10px;
    font-size: 18px;
    color: #000;
}

a.btn {
    color: #a9a9a9;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

#header a.btn.random {
    position: absolute; top: 99px; right: 140px;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 5px;
}

#header a.btn.sign-up {
    position: absolute; top: 99px; right: 40px;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 5px;
}

#header a.selected {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid #40B0E2;    
}

#header a.btn.random:active,
#header a.btn.random:hover,
#header a.btn.sign-up:hover,
#header a.btn.sign-up:active,
#header a.btn.sign-up:focus {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid #40B0E2;
}

#sign-up-dialog {
    position: absolute; right: 40px; top: 50px;
}

.mailfield {
    padding: 0px; border: 1px solid #333; height: 30px;
    padding-left: 8px; min-width: 348px; /** top: -25px; left: 475px; */
    margin-right: 10px;
}

.submit.btn {
    height: 32px;
    background-color: #fff;
    border: 2px solid #40B0E2;
    cursor: pointer;
    padding-top: 2px;
}

@-moz-document url-prefix() {
    .submit.btn {
        padding-bottom: 4px;
    }
    .mailfield {
        min-width: 400px;
    }
}

#footer {
    margin-left: auto; margin-right: auto;
    margin-top: 20px; width: 450px; padding: 5px;
    text-align: center;
    margin-bottom: 40px;
    /** border-top: 1px dashed #a9a9a9; **/
}

a.btn.twitter {
    float: right;
    border-top: 3px solid #fff;
    margin-right: 5px;
}

a.btn.contact {
    float:left;
    border-top: 3px solid #fff;
    margin-left: 5px;
}

a.btn.twitter:active,
a.btn.twitter:hover,
a.btn.contact:hover,
a.btn.contact:active {
    color: #000;
    text-decoration: none;
    border-top: 3px solid #40B0E2;
}