
div.logo.area {
	background-image: url("/com.soundposter.website/images/soundposter_button_blue_with_arrow_out_600.png");
	height: 240px; width: 240px;
	background-size: 240px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	margin-left: auto; margin-right: auto;
	cursor: pointer;
}

.page div.header .featured img {
    padding-top: 20px;
}

.page div.header.area {
    margin-top: 0px;
}

.page div.title
.page div.subtitle,
.page div.area {
    margin: 15px 15px;
}

.page div.subtitle {
    font-weight: 500;
}

.page div.left-side,
.page div.right-side {
    width: 15px;
}

.page div.box {
    float: none;
    max-width: 95%;
}

.page .title {
    font-size: 1.5em;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page .subtitle {
    font-size: 1em;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.page div.header .featured .author,
.page div.header .featured .headline {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.page.about div.main {
    padding-left: 0px;
}

.page ul.low-menu li {
 	margin-left: 10px;
}

.page div.info.child-area {
    padding: 15px;
}

.page div.info.child-area div.box {
    margin: 5px;
}

.page div.info.child-area b.by,
.page div.info.child-area quote {
    font-size: 1em;
}

.page.about div.main.area {
    padding-top: 0px;
    font-size: 1em;
    padding-left: 0px;
}

.page.about div.main.area ul {
    padding-left: 15px;
}
