
div.left-side,
div.right-side {
    width: 48px;
}

div.left-side {
    background-position-x: -10px;
}

.page div.header .featured img {
    padding-top: 40px;
}

.page div.info {
    min-height: 475px;
}

.page div.info .box {
    max-width: 42%;
}

.page ul.low-menu {
    margin-left: 90px;
}
