
div.logo.area {
	background-image: url("/com.soundposter.website/images/soundposter_button_blue_with_arrow_out_600.png");
	height: 400px; width: 400px;
	background-size: 400px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	margin-left: auto; margin-right: auto;
	cursor: pointer;
}

.page div.header .featured img {
    padding-top: 40px;
}

.page div.box {
    float: none;
    max-width: 95%;
}

.page div.title,
.page div.area {
    margin: 30px 45px;
}

.page div.left-side,
.page div.right-side {
    width: 25px;
}

.page .title {
    margin-left: 45px;
    margin-right: 45px;
}

.page .subtitle{
    margin-left: 45px;
    margin-right: 45px;
}

.page div.header .featured .author,
.page div.header .featured .headline {
    margin-left: 30px;
    margin-bottom: 10px;
}

.page.about div.main {
    padding-left: 0px;
}

.page ul.low-menu {
    margin-left: 36px;
}
