
#hello {
    position: relative;
    width: 100%;
    top: 0px; left: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
	   -moz-box-shadow: 0px 0px 0px 0px transparent;
	        box-shadow: 0px 0px 0px 0px transparent;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
    padding-right: 0px;
    min-width: 240px;
}

.page.welcome .main {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.page.welcome .main .title {
    margin-bottom: 60px;
    margin-top: 40px;
}

.page.welcome .main .standard-features {
    margin-top: 40px;
}

.page #hello div.highlight {
    height: 140px;
    margin-bottom: 60px;
}

#hello .logo img {
    width: 280px;
    height: 280px;
}

.browse .poster-preview .graphic {
    width: 220px;
    height: 300px;
    padding: 0px; margin: 0px;
    padding-top: 15px;
    /** background-size: 300, 450; **/
}

.browse .poster-preview a.link {
    font-size: 1em;
}


.page div.header .featured img {
    padding-top: 20px;
}

.page div.header.area {
    margin-top: 0px;
}

.page div.title
.page div.subtitle,
.page div.area {
    margin: 15px 15px;
}

.page div.subtitle {
    font-weight: 500;
}

.page div.left-side,
.page div.right-side {
    width: 15px;
}

.page div.box {
    float: none;
    max-width: 95%;
}

.page .title {
    font-size: 1.5em;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page .subtitle {
    font-size: 1em;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.page div.header .featured .author,
.page div.header .featured .headline {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.page.about div.main {
    padding-left: 0px;
}

.page ul.low-menu li {
 	margin-left: 10px;
    font-size: 1em;
}

.page div.info.child-area {
    padding: 15px;
}

.page div.info.child-area div.box {
    margin: 5px;
}

.page div.info.child-area b.by,
.page div.info.child-area quote {
    font-size: 1em;
}

.browse .main .page-controls {
    font-size: .9em;
    height: 20px;
}

.page div.main.area {
    font-size: 1em;
}

.page-controls a.no-previous-page,
.page-controls a.previous-page {
    margin-left: 30px;
    margin-right: 5px;
}

.page.thanks div.main.area,
.page.sign-up div.main.area,
.page.legal div.main.area,
.page.philosophy div.main.area,
.page.about div.main.area {
    padding-top: 0px;
    font-size: 1em;
    padding-left: 0px;
}

.page.about div.main.area ul {
    padding-left: 15px;
}

#newsletter textarea.message,
#newsletter input.text {
    width: 95%;
    font-size: 1em;
}

.page div.header .featured {
    height: 420px;
}

.browse .bottom.area {
    font-size: 1em;
}

.header.area .featured .description {
    font-size: 12px;
    padding: 5px;
    max-width: 60%;
    bottom: 40px; right: 10px;
    z-index: 100;
}

.header.area .featured .author {
    bottom: 5px; right: 10px;
    padding: 0px;
    z-index: 99;
}

.page div.header .featured .author a {
    font-size: 12px;
    padding: 5px;
}

