
body.page.browse,
body.page.welcome,
body.page {
    margin: 0px;
}

body.page .main {
    margin: 30px;
}

body.page .new-main {
    margin: 20px;
}

body.page .side-panel .secondary-menu {
    position: relative;
}

body.page .side-panel {
    position: relative;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
	   -moz-box-shadow: 0px 0px 0px 0px transparent;
	        box-shadow: 0px 0px 0px 0px transparent;
    width: 100%;
    padding-top: 0px;
}

body.page .new-main .poster-preview,
body.page .new-main {
    width: 85%;
    min-width: 220px;
}

#hello {
    position: relative;
    width: 100%;
    top: 0px; left: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
	   -moz-box-shadow: 0px 0px 0px 0px transparent;
	        box-shadow: 0px 0px 0px 0px transparent;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
    padding-right: 0px;
    min-width: 240px;
}

.page.welcome .main {
    width: 90%;
    margin: auto;
    padding: 0px;
}

.page.welcome .main .title {
    margin-bottom: 60px;
    margin-top: 40px;
}

.page.welcome .main .standard-features {
    margin-top: 40px;
}

.page #hello div.highlight {
    margin-top: 100px;
    margin-bottom: 0px;
}

#hello .logo {
    margin-top: 40px;
}

#hello #play-button {
    position: relative;
    top: -130px;
}

#hello .frontpage-track {
    position: relative;
    top: 300px;
    font-size: 1em;
    padding-left: 30px;
    padding-right: 30px;
}

.browse .poster-preview .graphic {
    width: 220px;
    height: 300px;
    padding: 0px; margin: 0px;
    padding-top: 15px;
    /** background-size: 300, 450; **/
}

.browse .poster-preview a.link {
    font-size: 1em;
}

.browse .poster-preview {
    width: 100%;
    margin-right: 60px;
    height: 100%;
}

.browse .poster-info {
    position: relative;
    top: -15px; left: 0px;
}

.page.sign-up .backdrop,
.page.help .backdrop,
.page.legal .backdrop,
.page.philosophy .backdrop,
.page.about .backdrop {
    width: 100%;
}

.page .footer {
    padding-top: 10px;
    position: relative;
    top: 60px;
    height: 410px;
}

.page .footer ul {
    display: block;
}

.page.browse .footer ul.low-menu {
    left: 0px;
}

.page div.left-side,
.page div.right-side {
    width: 15px;
}

.page div.box {
    float: none;
    max-width: 95%;
}

.page.welcome .title {
    font-size: 2em;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page .subtitle {
    font-size: 1.5em;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding: 20px;
}

.page div.header .featured .author,
.page div.header .featured .headline {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.page.about div.main {
    padding-left: 0px;
}

.page ul.low-menu li {
    padding-left: 10px;
 	margin-left: 10px;
    font-size: 1em;
}

.page div.info.child-area {
    padding: 15px;
}

.page div.info.child-area div.box {
    margin: 5px;
}

.page div.info.child-area b.by,
.page div.info.child-area quote {
    font-size: 1em;
}

.browse .main .page-controls {
    font-size: .9em;
    height: 20px;
}

.page-controls a.no-previous-page,
.page-controls a.previous-page {
    margin-left: 30px;
    margin-right: 5px;
}

.page.thanks div.main,
.page.imprint div.main,
.page.help div.main,
.page.legal div.main,
.page.sign-up div.main,
.page.philosophy div.main,
.page.imprint div.main,
.page.about div.main {
    padding: 20px;
    margin: 30px;
    padding-top: 5px;
}

.page.about div.main ul {
    padding-left: 15px;
}

#newsletter textarea.message,
#newsletter input.text {
    width: 95%;
    font-size: 1em;
}

.page div.header .featured {
    height: 420px;
}

.page.pricing img.fitzel {
    width: 300px;
}

.page.pricing .plans .offer {
    display: block;
    width: 85%;
    margin-right: 30px;
    margin-left: 30px;
}

.page.pricing .plans {
    margin: 0px;
    width: 90%;
}
