

body.page.browse {
    margin: 30px;

}
.page.browse .footer ul.low-menu {
    position: relative;
    left: 30px;
}

body.page.browse .poster-preview {
    width: 640px;
}

#hello .logo img {
    width: 400px;
    height: 400px;
    padding-left: 20px;
}

#hello .logo {
    margin-top: 90px;
}

#hello .frontpage-track {
    margin-top: 30px;
}

.page .main,
#hello {
    min-width: 420px;
}

.page.welcome .main {
    width: 80%;
    margin: auto;
}

.page.pricing img.fitzel {
    width: 900px;
}

