

body.page.browse {
    margin: 30px;
}

.page.browse .footer ul.low-menu {
    position: relative;
    left: 30px;
}

body.page.browse .poster-preview {
    width: 640px;
}

#hello .logo {
    margin-top: 90px;
}

#hello .frontpage-track {
    margin-top: 30px;
}

.page .new-main,
.page .main,
#hello {
    min-width: 420px;
    width: 70%;
}

#hello .logo {
    margin-top: 40px;
}

.page.welcome .main {
    width: 80%;
    margin: auto;
}

.page.pricing img.fitzel {
    width: 900px;
}

