
.page div.header .featured img {
    padding-top: 240px;
}

#hello .logo {
    padding-right: 60px;
    margin-top: 80px;
    padding-left: 40px;
}

.page.welcome .side-panel {
    font-size: 1.5em;
}

.page.browse .main-area {
    margin: 40px;
}
