
.page div.header .featured img {
    padding-top: 240px;
}

#hello .logo {
    padding-right: 60px;
}

/** .page .main .standard-features {
    margin-top: 240px;
} **/

/** .page #hello div.highlight {
    margin-top: 135px;
} **/

