
.page div.header .featured img {
    padding-top: 240px;
}

#hello .logo {
    padding-right: 60px;
    margin-top: 80px;
    padding-left: 40px;
}

/** .page .main .standard-features {
    margin-top: 240px;
} **/

/** .page #hello div.highlight {
    margin-top: 135px;
} **/


/** New Page Layout */

.page.welcome .side-panel {
    font-size: 1.5em;
}

.page.browse .new-main {
    margin: 40px;
}
