
#hello .logo {
    margin-top: 40px;
}

#hello .frontpage-track {
    margin-top: 50px;
}

.page .main,
#hello {
    min-width: 420px;
    margin: auto;
    margin-left: 40px;
}

.page.browse .new-main {
    margin: 40px;
}
