
body {
    font-family: 'Pontano Sans', 'PontanoSans-Regular', 'Myriad Pro Regular', 'Trebuchet MS', 'sans-serif';
    /** 'Advent Pro' */
    background-image: url("/com.soundposter.website/images/website_pattern.jpg");
    letter-spacing: 2px;
    overflow-y: scroll;
}


// ------------------------------------ Color Palette -------------- //

/** someblue: #71bbe2;
other yellow: e9ba00;
other highblue: afcee0;
signalo red: ed2700;
smooth violet: #5e599b;
straight blue: 3370b0;
high orange: ff6432; **/


// ----------- Basic Page Elements

body.page {
    padding-top: 30px;
    padding-bottom: 70px;
    /** background: linen; **/
    color: #a9a9a9;
    margin: 60px;
    overflow-style: panner;
}

body.page.welcome {
    margin: 15px;
}

.page div.info {
    padding: 30px;
    padding-bottom: 10px;
    background-color: #e8e8e8;
    position: relative;
    min-height: 370px;
}

quote {
    display: block;
    margin: 10px;
    line-height: 1.5em;
    font-size: 1.1em;
    font-style: italic;
}

quote span.marks {
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    vertical-align: bottom;
    padding-right: 4px;
}

#play-button {
    cursor: pointer;
}

.page a {
    color: #71bbe2;
}

b.unavailable {
    color: #a90000;
}

b.available {
    color: #ffb900;
}

b.by {
    padding-left: 10px;
}

// --------------------------------------------- Page titles and subtitles


.page .title .logo {
    color: #555;
}

.page .subtitle {
    font-size: 1.5em;
    margin: 30px 90px;
    line-height: 1.5em;
    margin-top: 0px;
    color: #a9a9a9;
    text-align: center;
    padding-top: 60px;
}

.page.legal .title,
.page.help .title,
.page.about .title,
.page.philosophy .title {
    text-align: center;
    padding-left: 10px;
}

.page.welcome .subtitle span.example {
    line-height: 2em;
    display: inline;
}

.page .title {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em;
    margin: 110px 90px;
    margin-bottom: 20px;
    color: #ffb900;
    font-weight: 700;
    /** display: inline-block; **/
    text-align: center;
    /** margin: 0px;
    vertical-align: top; */
}

.page .title a {
    text-decoration: none;
    color: #000;
}

.page .subtitle a.active {
    background-color: #71bbe2;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.page .subtitle a {
    float: none;
    text-decoration: none;
    padding-top: 2px;
}

.page .side-panel .menu a,
.page.welcome .subtitle span.example a {
    padding: 4px;
    color: #333;
    background-color: #fff;
    padding-bottom: 5px;
}

.page.welcome .subtitle span.example a:hover {
    background-color: #ffb900;
    cursor: pointer;
    color: #fff;
}

.page.help h2 {
    /** padding-left: 10px; **/
    text-align: left;
    max-width: 760px;
    margin: auto;
}

.page div.main h3 {
    color: #71bbe2;
}

/** Specifics in welcome and browse title **/

.page.browse .title,
.page.welcome .title {
    display: inline-block;
    margin: 10px 60px;
}

.page.welcome .title span.link {
    color: #000;
}

.page.welcome .title a.bummer {
    background-color: #fff;
    color: #000;
    padding: 7px;
}

.page.welcome .title a.bummer:hover {
    background-color: #ffb900;
    color: #fff;
}

.page.welcome .main .cases.standard-features {
    margin-top: 60px;
}


// ----------------------------------------- New Layout: Page containers

#hello {
    text-align: center;
    min-width: 600px;
    width: 67%;
    height: 100%;
}

div.side-panel {
    position: fixed; right: 0px; top: 0px;
    padding-top: 2%;
    padding-bottom: 10%;
    text-align: center;
    width: 33%;
    height: 100%;
    z-index: 1003;
    background-image: url("/com.soundposter.website/images/website_pattern.jpg");
    -webkit-box-shadow: -3px 0px 4px 0px #a9a9a9;
	   -moz-box-shadow: -3px 0px 4px 0px #a9a9a9;
	        box-shadow: -3px 0px 4px 0px #a9a9a9;
    min-width: 340px;
}

.page .main-area {
    width: 67%;
    position: relative;
    top: 40px;
    margin: 0px;
}

.page.help .main,
.page.legal .main,
.page.about .main,
.page.philosophy .main {
    background-color: #fff;
    padding: 20px;
    margin: auto;
}

.page.help div.main,
.page.search-results div.main,
.page.legal div.main,
.page.philosophy div.main,
.page.about div.main {
    max-width: 760px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin: auto;
    margin-top: 60px;
}

.page.about div.main ul li {
    margin: 5px;
}

.page .content {
    background-color: #fff;
    padding: 20px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page .content-links {
    padding: 0px;
    padding-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
}


// ----------------------------------------------------- Welcome Area

#hello .logo {
    display: inline-block;
}

#hello .highlight img {
    margin-top: 0px;
    margin-bottom: 40px;
    border: 1px solid #a9a9a9;
}

.page #hello div.highlight {
    margin-top: 80px;
    font-size: 2em;
    line-height: 2.2em;
    text-align: center;
    font-weight: 700;
    color: #a9a9a9;
}

.page #hello .logo a.posterlink,
.page #hello div.highlight a {
    background-color: #fff;
    color: #000;
    padding: 10px;
    padding-top: 5px; padding-bottom: 5px;
    text-decoration: none;
}

.page #hello .logo a.posterlink:hover,
.page #hello div.highlight a:hover {
    background-color: #ffb900;
    color: #fff;
}

.page #hello .logo a.posterlink,
.page #hello .highlight a {
    text-decoration: none;
}

#hello {
    width: 67%;
}
// --------------------------------------------------------- Side Panel

div.side-panel div.image {
    width: 200px; height: 200px;
    background-image: url('/com.soundposter.website/images/logos/SP_Logo_ohne_dreieck_ffffff.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    background-size: contain;
}

div.side-panel div.image:hover {
    background-image: url('/com.soundposter.website/images/logos/SP_Logo_ohne_dreieck_555555.png');
    cursor: pointer;
}

div.side-panel .menu {
    text-align: right;
    margin-top: 30px;
}

div.side-panel .menu li {
    line-height: 2.4em;
    text-align: right;
}

div.side-panel ul.secondary-menu {
    position: fixed;
    bottom: 30px;
    text-align: left;
    padding-left: 0px;
}

div.side-panel .secondary-menu li {
    font-size: 0.8em;
    /** display: inline-block; **/
    line-height: 2.3em;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.page .side-panel .menu li {
    list-style-type: none;
    margin-right: 0px;
}

.page .side-panel {
    font-size: 1.5em;
}

.page .side-panel .control {
    font-size: .8em;
    line-height: 1em;
    z-index: 1001;
}

.control .frontpage-track {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1em;
    line-height: 2em;
    text-align: center;
    color: #a9a9a9;
    padding-left: 20px;
    padding-right: 20px;
}

.page .side-panel .menu a:hover {
    /** background-color: #afcee0; */
    cursor: pointer;
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
}

.page .side-panel .menu li a.selected {
    background-color: #ff6432;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
}

.page .side-panel .secondary-menu a,
.page .side-panel .menu a,
.page ul.low-menu a {
    text-decoration: none;
    padding: 6px;
    padding-left: 10px; padding-right: 10px;
    padding-top: 8px;
}

.page .side-panel .secondary-menu a {
    background-color: #afcee0;
    color: #fff;
}

.page .side-panel .secondary-menu a:hover {
    padding-right: 20px;
}



// -------------------------------------------------------  Help Page

.page.help .main.standard-features .show-item a,
.page.welcome .standard-features .show-item a {
    position: relative;
    background-color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    line-height: 2.4em;
    display: block;
}

.page.help .main.standard-features .show-item a:hover,
.page.welcome .standard-features .show-item a:hover {
    background-color: #ffb900;
    color: #000;
}

.page .standard-features a {
    text-decoration: none;
}

.page.help .main.standard-features {
    margin-top: 20px;
}


// ------------------------------------------------- Subscriptions page

.page .plans img.fitzel {
    width: 90%;
}

/** first is new class name */
.page .plans,
.page.pricing .plans {
    font-size: 1em;
    display: inline-block;
    width: 95%;
    margin-left: 40px;
    margin-top: 40px;
}

/** first is new class name */
.page .plans .offer,
.page.pricing .plans .offer {
    width: 260px;
    display: inline-block;
    text-align: left;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 20px;
    vertical-align: top;
    background-color: #fff;
}

/** first is new class name */
.page .plans .offer.unavailable,
.page.pricing .plans .offer.unavailable {
    opacity: .6;
}

/** first is new class name */
.page .plans .details,
.page.pricing .plans .details {
    margin-top: 60px;
    max-width: 740px;
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-right: 100px;
}

// ------------------------- Imprint Page

.page .main-area .content.imprint p {
    max-width: 640px;
}

.page .main-area .content.imprint img {
    margin-bottom: 20px;
}

.page.imprint .main,
.page.sign-up .main {
    top: 250px;
    margin-left: 60px;
}

.page div.main img.picture-me {
    border: 1px solid #ffb900;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

// --------------------- Subscriptions Page

.page div.plan-a,
.page div.plan-b,
.page div.plan-c {
	background-color: #fff;
    color: darkgrey;
	padding: 10px;
}

// ------------------------------------ API Search Pages

.page.search-results div.main {
    max-width: 85%;
}

.page.search-results .main.area .result-view {
    padding: 15px;
    padding-left: 0px;
}

.page.search-results .main.area .result-view {
    padding: 15px;
    padding-left: 0px;
}

.page.search-results .main.area .result-view .track-view {
    padding-left: 15px;
}

.page.search-results .main.area .result-view span.streaming-url {
    margin-left: 10px;
}

.page.search-results .result-view.set a.set-title:hover:before,
.page.search-results .result-view.set .track-view a.track-title:hover:before,
.page.search-results .result-view.track a.track-title:hover:before {
    content: "+";
}
.page.search-results .result-view.band a.source,
.page.search-results .result-view.album a.source,
.page.search-results .result-view.set a.source,
.page.search-results .result-view.track a.source {
    font-size: small;
    color: #71bbe2;
}



// ---------------------------------------- Browse Page

.page.browse .title {
    margin-top: 60px;
}

.page.browse .side-panel img {
    margin-top: 14px;
}

.page.browse .side-panel .container {
    z-index: -1;
    margin: 0px;
    padding: 0px;
    height: 1704px;
    position: absolute; top: 0px; right: 0px;
    background-image: url('/com.soundposter.website/images/SP_Logo_ohne_dreieck_fitzel_ffb900_right_sided.jpg');
    background-repeat: no-repeat;
    background-position:  100px 0px;
    overflow: hidden;
}

.browse .main .page-controls {
    height: 30px;
    position: relative;
    top: 0px; right: 60px;
    background-color: #fff;
    color: darkgrey;
    text-align: right;
    margin-bottom: 0px;
}

.browse .sort-menu a,
.browse .filter-menu a {
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}

.browse .sort-menu a,
.browse .filter-menu a,
a.next-page,
a.previous-page {
    color: #333;
    cursor: pointer;
    background-color: #ffffff;
    text-decoration: none;
    padding: 4px;
    padding-left: 8px; padding-right: 8px;
}

.browse .filter-menu .selected {
    color: #000;
    background-color: transparent;
    cursor: auto;
    font-weight: 700;
}

.browse .sort-menu a,
.browse .filter-menu a:hover,
a.next-page:hover,
a.previous-page:hover {
    background-color: #ffb900;
    color: #fff;
}

a.no-next-page,
a.no-previous-page {
    color: darkgrey;
    cursor: text;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.browse .space-maker .space {
    height: 400px;
}

.browse .poster-preview {
    /* float: left; **/
    width: 700px;
    height: 420px;
    padding: 0px;
    position: relative;
    margin: 15px;
    margin-right: 30px;
    margin-left: 0px;
    display: inline-block;
    margin-bottom: 120px;
}

.browse .poster-preview:hover {
    opacity: 1;
    cursor: pointer;
}

.browse .poster-preview:hover a.link {
    background: #71bbe2;
    color: #fff;
}

.browse .poster-preview .graphic {
    width: 297px;
    height: 420px;
    padding: 0px; margin: 0px;
    padding-top: 15px;
    /** background-size: 300, 450; **/
}

.browse .poster-preview a.link {
    font-weight: 900;
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #343434;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 85%;
}

.browse .poster-preview a.link:hover {
    background: #71bbe2;
    color: #fff;
}

.browse .poster-preview .username {
    font-size: 1.5em;
    max-width: 250px;
    font-weight: 900;
    margin: 15px;
    margin-left: 0px;
    background-color: #343434;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.browse .poster-info {
    position: absolute;
    left: 297px; top: 0px;
    background-color: #fff;
    padding: 15px;
}

.browse .poster-info h4 {
    margin-top: 0px;
}

.browse .sort-menu {
    position: absolute;
    left: 500px;
    top: 300px;
    font-size: 1.2em;
}

.browse .filter-menu {
    position: relative;
    font-size: 1em;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.browse .filter-menu a {
    margin-left: 10px;
}

// ----------------------------------------------- Page content links

.page.pricing .content-links,
.page.imprint .content-links,
.page.thanks .content-links,
.page.sign-up .content-links,
.page.help .content-links,
.page.about .content-links,
.page.legal .content-links,
.page.philosophy .content-links {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.page .plans .content-links {
    margin-left: 0px;
}

.page .content-links h3 {
    margin-left: 20px;
    padding-bottom: 20px;
}

.page .content-links a {
    padding: 8px 10px 6px;
    background-color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 20px;
    color: #333;
}

.page .content-links a:hover {
    background-color: #FF6432;
}


// -------------------------------------------------- Footer

.page .footer {
    padding: 40px;
    margin: 0px;
    color: #a9a9a9;
}

.new-footer {
    padding: 30px;
    text-align: center;
}


// ------------------------------------------- Backdrops / Sides

.page div.left-side {
    position: fixed; top: 0px; left: 0px;
    background-color: white;
    border-right: 1px solid #3a3a3a;
    height: 100%; width: 57px;
}

.page div.right-side {
    position: fixed; top: 0px; right: 0px;
    background-color: white;
    border-left: 1px solid #3a3a3a;
    height: 100%; width: 58px;
}

.page.help .backdrop,
.page.legal .backdrop,
.page.philosophy .backdrop {
    z-index: -1;
    margin: 0px;
    padding: 0px;
    width: 700px;
    height: 1704px;
    position: absolute; top: 300px; right: 0px;
    background-image: url('/com.soundposter.website/images/SP_Logo_ohne_dreieck_fitzel_71bbe2_right_sided_700.jpg');
    background-repeat: no-repeat;
    background-position:  0px 0px;
}

.page.about .backdrop {
    z-index: -1;
    margin: 0px;
    padding: 0px;
    width: 700px;
    height: 1704px;
    position: absolute; top: 300px; right: 0px;
    background-image: url('/com.soundposter.website/images/SP_Logo_ohne_dreieck_fitzel_ffb900_right_sided.jpg');
    background-repeat: no-repeat;
    background-position:  0px 0px;
}

.page.imprint .backdrop,
.page.sign-up .backdrop {
    z-index: -1;
    margin: 0px;
    padding: 0px;
    width: 700px;
    height: 1704px;
    position: absolute; top: 0px; left: 0px;
    background-image: url('/com.soundposter.website/images/SP_Logo_fitzel_mit_dreieck_000000_left_sided.jpg');
    background-repeat: no-repeat;
    background-position:  0px 0px;
}

// ------------------------------------------------------ Signup page 

input.type,
textarea.type {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

input.submit {
    margin-top: 20px;
    /** background-color: rgba(39, 99, 140, 1.0); **/
    /** color: rgba(255, 255, 255, 1.0); **/
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

input[disabled] {
    background-color: rgba(99, 99, 99, 1.0);
}

#newsletter textarea.message {
    width: 80%;
}

// ------------------------------------------------ Thank you page

.page.thanks .title,
.page.thanks .logo {
    text-align: center;
}
