
body {
    font-family: 'Pontano Sans', "Myriad Pro Regular", "Trebuchet MS", sans-serif;
    /** font-family: "Advent Pro", "Myriad Pro Regular", "Trebuchet MS", sans-serif; */
    background-image: url("/com.soundposter.website/images/website_pattern.jpg");
    letter-spacing: 2px;
}

body.page {
	padding-top: 30px;
	padding-bottom: 70px;
    /** background: linen; **/
    color: darkgray;
    margin: 60px;
}

body.page.welcome {
    margin: 15px;
}

.header.area .featured {
    position: relative;
}

.header .featured .headline a {
    color: #fff;
}

.header.area .featured .description {
    font-size: 1.1em;
    background-color: #343434;
    padding: 10px;
    max-width: 40%;
    max-height: 300px;
    text-align: left;
    position: absolute;
    bottom: 90px; right: 60px;
}

.header.area .featured .hashtag {
    right: 0px; bottom: 60px;
}

.header.area .featured .author {
    right: 60px; bottom: 30px;
}

.header.area .featured .author,
.header.area .featured .hashtag {
    font-size: 1.1em;
    color: #71bbe2;
    background-color: #343434;
    padding: 5px;
    position: absolute;
}

.page .subtitle a {
    padding-top: 2px;
}

.page .title {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em;
    margin: 110px 90px;
    margin-bottom: 20px;
}

.page .subtitle {
    font-size: 1.5em;
    margin: 30px 90px;
    line-height: 1.5em;
    margin-top: 0px;
}

/** .page .title .subtitle {
    font-size: 1.4em;
} **/

.page a {
    color: #71bbe2;
}

/** .page .title a.expanded {
    background: #71bbe2;
} **/

.page .title {
    color: #ffb900;
    font-weight: 700;
    /** display: inline-block; **/
    text-align: right;
    margin: 0px;
    vertical-align: top;
}

.page .title .logo {
    color: #555;
}

.page .title a {
    text-decoration: none;
    color: #000;
}

.page .subtitle a.active {
    background-color: #71bbe2;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.page .subtitle a {
    float: none;
    text-decoration: none;
}

.page div.left-side {
    position: fixed; top: 0px; left: 0px;
    background-color: white;
    /** background: url('/com.soundposter.website/images/site/_background_left_side.png') repeat-y;
    border-right: 1px solid #3a3a3a; **/
    height: 100%; width: 57px;
}

.page div.right-side {
    position: fixed; top: 0px; right: 0px;
    background-color: white;
    /* background: url('/com.soundposter.website/images/site/_background_right_side.png') repeat-y;
    border-left: 1px solid #3a3a3a; **/
    height: 100%; width: 58px;
}

.page div.area {
    margin: 30px 90px;
	padding: 0px;
	/** background-color: #e8e8e8; **/
}

/** div.logo.area:hover {
	background-image: url("/com.soundposter.website/images/soundposter_button_blue_with_arrow_out_600.png");
} **/

.page div.header.area {
	background-color: white;
    margin-top: 30px;
    overflow: hidden;
    /** position: relative;
    left: 0px; top: 20px;
    margin: 0px; **/
}

.page div.header .featured {
	background-repeat: no-repeat;
	background-position: -300px -880px;
    height: 700px;
    text-align: center;
    /* border-top: 1px solid #343434;
    border-bottom: 1px solid #343434; */
}

.page div.header .featured img {
	background-color: transparent;
	border: 0px solid transparent;
	cursor: pointer; float: right; padding-right: 100px;
    max-height: 400px; padding-top: 200px;
}

.page div.header .featured .headline {
    font-size: 2.4em;
    line-height: 1.6em;
    max-width: 600px;
    font-weight: 900;
    margin: 60px; margin-bottom: -8px;
    float: left;
    text-align: left;
    background-color: #343434;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.page div.header .featured .author {
    font-size: 1.1em;
    max-width: 375px;
    font-weight: 900;
    margin: 0px 0px 30px 0px;
    color: #fff;
    text-align: left;
    font-style: italic;
}

.page div.header .featured .headline a {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page div.header .featured .author a {
    color: #fff;
    text-decoration: none;
}

.page div.header .featured .author:hover {
    background-color: #71bbe2;
    color: #fff;
}

.page div.main.area {
    color: #555;
    font-size: 1.1em;
    margin-top: 110px;
}

.page.legal .title,
.page.help .title,
.page.about .title,
.page.philosophy .title {
    text-align: left;
    padding-left: 10px;
}

/** new Frontpgae speciifcs */

.higher-brand-type {
    color: #000;
    text-decoration: none;
    font-weight: 900;
}

#hello {
    position: fixed; right: 0px; top: 0px;
    padding-right: 40px;
    padding-top: 40px;
    text-align: center;
    width: 40%;
    min-width: 600px;
    height: 100%;
    background-image: url("/com.soundposter.website/images/website_pattern.jpg");
    /* -webkit-box-shadow: -3px 0px 4px 0px #a9a9a9;
	   -moz-box-shadow: -3px 0px 4px 0px #a9a9a9;
	        box-shadow: -3px 0px 4px 0px #a9a9a9;
    overflow-y: scroll; **/
}

div.side-panel {
    position: fixed; right: 0px; top: 0px;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    width: 33%;
    height: 80%;
    z-index: 1003;
    background-image: url("/com.soundposter.website/images/website_pattern.jpg");
    -webkit-box-shadow: -3px 0px 4px 0px #a9a9a9;
	   -moz-box-shadow: -3px 0px 4px 0px #a9a9a9;
	        box-shadow: -3px 0px 4px 0px #a9a9a9;
    min-width: 340px;
}

.page.browse .new-main {
    width: 67%;
    position: relative;
    top: 0px;
    margin: 0px;
}

div.side-panel div.image {
    width: 200px; height: 200px;
    background-image: url('/com.soundposter.website/images/logos/SP_Logo_ohne_dreieck_ffffff.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    background-size: contain;
}

div.side-panel div.image:hover {
    background-image: url('/com.soundposter.website/images/logos/SP_Logo_ohne_dreieck_555555.png');
    cursor: pointer;
}

.page.welcome .main {
    width: 60%;
    text-align: center;
    padding-top: 10%;
}

#hello #play-button {
    cursor: pointer;
}

/** Specifics in frontpage title **/

.page.welcome .title {
    display: inline-block;
    margin: 10px 60px;
}

.page.welcome .title span.link {
    color: #000;
}

.page.welcome .title a.bummer {
    background-color: #fff;
    color: #000;
    padding: 7px;
}

.page.welcome .title a.bummer:hover {
    background-color: #ffb900;
    color: #fff;
}

.page.help .main.standard-features .show-item a,
.page.welcome .standard-features .show-item a {
    position: relative;
    background-color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    line-height: 2.4em;
    display: block;
}

.page.welcome .main .cases.standard-features {
    margin-top: 60px;
}

.page.help .main.standard-features .show-item a:hover,
.page.welcome .standard-features .show-item a:hover {
    background-color: #ffb900;
    color: #000;
}

#hello .logo {
    display: inline-block;
}

#hello ul.low-menu li a {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
}

#hello ul.low-menu li a:hover {
    background-color: #aa0000;
    color: #fff;
}

#new-header {
    position: relative;
    left: 0px;
    text-align: center;
    width: 90%;
    z-index: 1003;
    margin-left: 5%;
    margin-right: 5%;
    height: 310px;
    padding-top: 10px;
}

h2.page-title {
    background-color: #fff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 15px;
}

#hello .frontpage-track {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
}

#hello .sound-label {
    font-weight: 700;
    position: relative; top: 5px;
}

.page #hello div.highlight {
    margin-top: 40px;
    font-size: 2em;
    line-height: 2.2em;
    text-align: center;
    height: 190px;
    font-weight: 700;
}

.page #hello div.highlight a {
    background-color: #fff;
    color: #000;
    padding: 10px;
    padding-top: 5px; padding-bottom: 5px;
    text-decoration: none;
}

.page #hello div.highlight a:hover {
    background-color: #ffb900;
    color: #fff;
}

.page #hello .highlight a {
    text-decoration: none;
}

/** Thank you page */

.page.thanks .title,
.page.thanks .logo {
    text-align: center;
    max-width: 720px;
}

/** Pricing Page Specifics **/

.pricing #hello .title {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-top: 0px;
}

.pricing #hello .logo img {
    height: 225px;
}

.pricing #hello .logo {
    width: 300px;
}

.page.pricing .title {
    text-align: center;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto
}

.page.pricing .plans {
    font-size: 1.5em;
    display: inline-block;
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

.page.pricing .plans .offer {
    width: 340px;
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    vertical-align: top;
}

.page.pricing .plans .offer.unavailable {
    opacity: .6;
}

.page.pricing .plans .details {
    margin-top: 60px;
    width: 600px;
    display: inline-block;
    text-align: left;
}

/** Philosophy page specifics .. */

.page.imprint .main,
.page.help .main,
.page.legal .main,
.page.sign-up .main,
.page.about .main,
.page.philosophy .main {
    background-color: #fff;
    padding: 20px;
}

.page.help .backdrop,
.page.legal .backdrop,
.page.philosophy .backdrop {
    z-index: -1;
    margin: 0px;
    padding: 0px;
    width: 700px;
    height: 1704px;
    position: absolute; top: 300px; right: 0px;
    background-image: url('/com.soundposter.website/images/SP_Logo_ohne_dreieck_fitzel_71bbe2_right_sided_700.jpg');
    background-repeat: no-repeat;
    background-position:  0px 0px;
}

.page.browse .side-panel .container {
    z-index: -1;
    margin: 0px;
    padding: 0px;
    height: 1704px;
    position: absolute; top: 0px; right: 0px;
    background-image: url('/com.soundposter.website/images/SP_Logo_ohne_dreieck_fitzel_ffb900_right_sided.jpg');
    background-repeat: no-repeat;
    background-position:  100px 0px;
    overflow: hidden;
}

.page.about .backdrop {
    z-index: -1;
    margin: 0px;
    padding: 0px;
    width: 700px;
    height: 1704px;
    position: absolute; top: 300px; right: 0px;
    background-image: url('/com.soundposter.website/images/SP_Logo_ohne_dreieck_fitzel_ffb900_right_sided.jpg');
    background-repeat: no-repeat;
    background-position:  0px 0px;
}

/** Touch us page specifics */

.page.imprint .title,
.page.imprint .main,
.page.sign-up .main,
.page.sign-up .title {
    right: 60px;
    position: absolute;
}

.page.imprint .title,
.page.sign-up .title {
    padding-right: 10px;
}

.page.legal .title,
.page.about .title,
.page.philosophy .title {
    margin: 0px;
    margin-bottom: 40px;
}

.page.sign-up .title {
    margin: 0px;
    padding-left: 260px;
}

.page.imprint .main,
.page.sign-up .main {
    top: 250px;
    margin-left: 60px;
}

.page.imprint .backdrop,
.page.sign-up .backdrop {
    z-index: -1;
    margin: 0px;
    padding: 0px;
    width: 700px;
    height: 1704px;
    position: absolute; top: 0px; left: 0px;
    background-image: url('/com.soundposter.website/images/SP_Logo_fitzel_mit_dreieck_000000_left_sided.jpg');
    background-repeat: no-repeat;
    background-position:  0px 0px;
}

/** Generics? */

.page.help h2 {
    padding-left: 10px;
}

.page.help div.main,
.page.search-results div.main,
.page.imprint div.main,
.page.legal div.main,
.page.philosophy div.main,
.page.sign-up div.main,
.page.about div.main {
    max-width: 600px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
}

#newsletter textarea.message,
#newsletter input.text {
    display: block;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #71bbe2;
    background-color: #fff;
    font-family: "Myriad Pro Regular", "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    color: #343434;
    margin: 15px;
    width: 300px;
    margin-left: 0px;
}

#newsletter textarea.message {
    height: 140px;
    padding-top: 10px;
}

#newsletter input:focus {
    border-top: 2px solid #343434;
}

#newsletter input.submit {
    cursor: pointer;
    font-family: "Myriad Pro Regular", "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    color: #343434;
    padding: 10px;
    margin: 15px;
    height: 44px;
    margin-left: 0px;
}

.page.about div.main ul li {
    margin: 5px;
}

.page.imprint div.main img {
    border: 1px solid #ffb900;
    float: right;
}

.page div.main h3 {
    color: #71bbe2;
}

.page div.plan-a,
.page div.plan-b,
.page div.plan-c {
	background-color: #fff;
    color: darkgrey;
	padding: 10px;
}

.page div.info {
	padding: 30px;
    padding-bottom: 10px;
	background-color: #e8e8e8;
    position: relative;
    min-height: 370px;
}

quote {
    display: block;
    margin: 10px;
    line-height: 1.5em;
    font-size: 1.1em;
    font-style: italic;
}

quote span.marks {
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    vertical-align: bottom;
    padding-right: 4px;
}

b.by {
    padding-left: 10px;
}

div.box {
    max-width: 45%;
    min-width: 30%;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    float: left;
    margin: 15px;
    margin-top: 0px;
}

p.box {
    max-width: 45%;
    min-width: 30%;
    position: relative; top: 20px; left: 20px;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    font-style: italic;
}

p.box b {
    font-style: normal;
    font-weight: 900;
}

.browse .space-maker .space {
    height: 400px;
}

.browse .poster-preview {
    /* float: left; **/
    width: 700px;
    height: 420px;
    padding: 0px;
    position: relative;
    margin: 15px;
    margin-right: 30px;
    margin-left: 0px;
    display: inline-block;
    margin-bottom: 120px;
}

.browse .poster-preview:hover {
    opacity: 1;
    cursor: pointer;
}

.browse .poster-preview:hover a.link {
    background: #71bbe2;
    color: #fff;
}

.browse .poster-preview .graphic {
    width: 297px;
    height: 420px;
    padding: 0px; margin: 0px;
    padding-top: 15px;
    /** background-size: 300, 450; **/
}

.browse .poster-preview a.link {
    font-weight: 900;
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #343434;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 85%;
}

.browse .poster-preview a.link:hover {
    background: #71bbe2;
    color: #fff;
}

.browse .poster-preview .username {
    font-size: 1.5em;
    max-width: 250px;
    font-weight: 900;
    margin: 15px;
    margin-left: 0px;
    background-color: #343434;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.browse .poster-info {
    position: absolute;
    left: 297px; top: 0px;
    background-color: #fff;
    padding: 15px;
}

.browse .poster-info h4 {
    margin-top: 0px;
}

.browse .sort-menu {
    position: absolute;
    left: 500px;
    top: 300px;
    font-size: 1.2em;
}

.browse .filter-menu {
    position: relative;
    font-size: 1.2em;
    display: inline;
}

.browse .filter-menu a {
    margin-left: 10px;
}

.browse .main.area {
    min-height: 400px;
    padding-top: 0px;
}

.browse .bottom.area {
    float: left;
    background-color: #fff;
    padding: 5px;
    margin: 0px;
}

.page.search-results div.main {
    max-width: 85%;
}

.page.search-results .main.area .result-view {
    padding: 15px;
    padding-left: 0px;
}

.page.search-results .main.area .result-view {
    padding: 15px;
    padding-left: 0px;
}

.page.search-results .main.area .result-view .track-view {
    padding-left: 15px;
}

.page.search-results .main.area .result-view span.streaming-url {
    margin-left: 10px;
}

.page.search-results .result-view.set a.set-title:hover:before,
.page.search-results .result-view.set .track-view a.track-title:hover:before,
.page.search-results .result-view.track a.track-title:hover:before {
    content: "+";
}
.page.search-results .result-view.band a.source,
.page.search-results .result-view.album a.source,
.page.search-results .result-view.set a.source,
.page.search-results .result-view.track a.source {
    font-size: small;
    color: #71bbe2;
}


.browse .main .page-controls {
    height: 30px;
    position: relative;
    top: 0px; right: 60px;
    background-color: #fff;
    color: darkgrey;
    text-align: right;
    margin-bottom: 0px;
}

.browse .sort-menu a,
.page.browse .side-panel a,
.browse .filter-menu a {
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}

.browse .sort-menu a,
.browse .filter-menu a,
a.next-page,
a.previous-page {
    color: #333;
    cursor: pointer;
    background-color: #ffffff;
}

.browse .filter-menu .selected {
    color: #333;
    background-color: transparent;
    cursor: auto;
}

.browse .sort-menu a,
.browse .filter-menu a:hover,
a.next-page:hover,
a.previous-page:hover {
    background-color: #ffb900;
    color: #fff;
}

a.no-next-page,
a.no-previous-page {
    color: darkgrey;
    cursor: text;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.page.welcome .subtitle {
    text-align: right;
    margin-right: 60px;
    margin-top: 60px;
}

.page.welcome .subtitle span.example {
    line-height: 2em;
}

.page.welcome .subtitle span.example a {
    padding: 5px;
    color: #333;
    background-color: #fff;
}

.page.welcome .subtitle span.example {
    display: inline;
}

.page.welcome .subtitle span.example a:hover {
    background-color: #ffb900;
    cursor: pointer;
    color: #fff;
}

.page.welcome .main .standard-features {
    font-size: 1.5em;
    text-align: left;
    max-width: 600px;
    display: inline-block;
    margin-top: 200px;
    background-color: #fff;
    padding: 30px;
}

.page .standard-features a {
    text-decoration: none;
}

.page.help .main.standard-features {
    margin-top: 20px;
}

/** Footer Animations **/

/** @-webkit-keyframes footerheight
{
    0%   { height: 40px; }
    100% { height: 200px; }
}

@keyframes footerheight
{
    0%   { height: 40px; }
    100% { height: 200px; }
}

.page .footer:hover {
    -webkit-animation: footerheight 5s linear 1s infinite alternate;
    animation: footerheight 5s linear 1s infinite alternate;
} **/


/** New Footer **/

.page .footer {
    width: 100%;
    background-color: #333;
    margin: 0px;
    color: #a9a9a9;
    height: 35px;
    position: fixed;
    left: 0px; bottom: 0px;
    text-align: center;
    -webkit-transition: 300ms linear height 1.5s;
    -moz-transition: 300ms linear height 1.5s;
    -o-transition: 300ms linear height 1.5s;
    -ms-transition: 300ms linear height 1.5s;
    transition: 300ms linear height 1.5s;
    background-image: url("/com.soundposter.website/images/website_pattern_dg.jpg");
}

.page.browse .footer {
    text-align: left;
}

.page.browse .footer ul.low-menu {
    position: relative;
    left: 90px;
}

.page .footer:hover {
    height: 140px;
}

.new-footer {
    padding: 30px;
    text-align: center;
}

a.lower-brand-type {
    float: right;
    font-size: 2.4em;
    color: #333;
    text-decoration: none;
    font-weight: 900;
}

/** picked colors...
someblue: #71bbe2;
other yellow: e9ba00;
other highblue: afcee0;
signalo red: ed2700;
smooth violet: #5e599b;
straight blue: 3370b0;
high orange: ff6432; **/

.page ul.low-menu {
    vertical-align: top;
	/** margin-right: 30px; **/
	line-height: 2em;
    padding: 0px; padding-top: 3px;
    position: relative;
    top: -1px;
    text-align: left;
    display: inline-block;
    margin-top: 0px;

}

/** .page .footer:hover ul.low-menu {
    margin-top: 10px;
} **/

.page ul.low-menu li {
    list-style-type: none;
	margin-left: 0px;
    margin-right: 20px;
}

.page ul.low-menu a {
    text-decoration: none;
    padding: 6px;
    color: darkgrey;
    padding-left: 10px; padding-right: 10px;
    padding-top: 8px;
}

.page ul.low-menu a:hover,
.page ul.low-menu li a.selected {
    color: #333;
    background-color: #fff;
}

/* .page ul.low-menu li a.selected,
.page ul.low-menu a:hover {
	border-bottom: 2px solid #ffd463;
    color: #343434;
} **/
