
body {
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
}

body.page {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 70px;
    /** background: linen; **/
    color: darkgray;
}

.header.area .featured {
    position: relative;
}

.header .featured .headline a {
    color: #fff;
}

.header.area .featured .description {
    font-size: 1.1em;
    background-color: #343434;
    padding: 10px;
    max-width: 40%;
    max-height: 300px;
    text-align: left;
    position: absolute;
    bottom: 90px; right: 60px;
}

.header.area .featured .hashtag {
    right: 0px; bottom: 60px;
}

.header.area .featured .author {
    right: 60px; bottom: 30px;
}

.header.area .featured .author,
.header.area .featured .hashtag {
    font-size: 1.1em;
    color: #40B0E2;
    background-color: #343434;
    padding: 5px;
    position: absolute;
}

.page .subtitle a {
    padding-top: 2px;
}

.page .title {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em;
    margin: 30px 90px;
    margin-bottom: 20px;
}

.page .subtitle {
    font-size: 1.5em;
    margin: 30px 90px;
    font-weight: 700;
    line-height: 1.5em;
    margin-top: 0px;
}

/** .page .title .subtitle {
    font-size: 1.4em;
} **/

.page a {
    color: rgb(64, 176, 226);
}

/** .page .title a.expanded {
    background: #40B0E2;
} **/

.page .title .pre-logo {
}

.page .title .logo {
    color: #343434;
}

.page .title a {
    text-decoration: none;
    color: #343434;
}

.page .subtitle a.active {
    background-color: #40B0E2;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.page .subtitle a {
    float: none;
    text-decoration: none;
}

.page div.left-side {
    position: fixed; top: 0px; left: 0px;
    background-color: white;
    /** background: url('/com.soundposter.website/images/site/_background_left_side.png') repeat-y;
    border-right: 1px solid #3a3a3a; **/
    height: 100%; width: 57px;
}

.page div.right-side {
    position: fixed; top: 0px; right: 0px;
    background-color: white;
    /* background: url('/com.soundposter.website/images/site/_background_right_side.png') repeat-y;
    border-left: 1px solid #3a3a3a; **/
    height: 100%; width: 58px;
}

.page div.area {
    margin: 30px 90px;
	padding: 0px;
	background-color: #e8e8e8;
}

/** div.logo.area:hover {
	background-image: url("/com.soundposter.website/images/soundposter_button_blue_with_arrow_out_600.png");
} **/

.page div.header.area {
	background-color: white;
    margin-top: 30px;
    overflow: hidden;
    /** position: relative;
    left: 0px; top: 20px;
    margin: 0px; **/
}

.page div.header .featured {
	background-repeat: no-repeat;
	background-position: -300px -880px;
    height: 700px;
    text-align: center;
    /* border-top: 1px solid #343434;
    border-bottom: 1px solid #343434; */
}

.page div.header .featured img {
	background-color: transparent;
	border: 0px solid transparent;
	cursor: pointer; float: right; padding-right: 100px;
    max-height: 400px; padding-top: 200px;
}

.page div.header .featured .headline {
    font-size: 2.4em;
    line-height: 1.6em;
    max-width: 600px;
    font-weight: 900;
    margin: 60px; margin-bottom: -8px;
    float: left;
    text-align: left;
    background-color: #343434;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.page div.header .featured .author {
    font-size: 1.1em;
    max-width: 375px;
    font-weight: 900;
    margin: 0px 0px 30px 0px;
    color: #fff;
    text-align: left;
    font-style: italic;
}

.page div.header .featured .headline a {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page div.header .featured .author a {
    color: #fff;
    text-decoration: none;
}

.page div.header .featured .author:hover {
    background-color: #40B0E2;
    color: #fff;
}

.page div.main.area {
    background: #fff;
    font-size: 1.1em;
}

.page.imprint div.main,
.page.legal div.main,
.page.philosophy div.main,
.page.sign-up div.main,
.page.about div.main {
    border-top: 1px solid #40B0E2;
    max-width: 600px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
}

#newsletter textarea.message,
#newsletter input.text {
    display: block;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #40B0E2;
    background-color: #fff;
    font-family: "Myriad Pro Regular", "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    color: #343434;
    margin: 15px;
    width: 300px;
    margin-left: 0px;
}

#newsletter textarea.message {
    height: 140px;
    padding-top: 10px;
}

#newsletter input:focus {
    border-top: 2px solid #343434;
}

#newsletter input.submit {
    cursor: pointer;
    font-family: "Myriad Pro Regular", "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    color: #343434;
    padding: 10px;
    margin: 15px;
    height: 44px;
    margin-left: 0px;
}

.page.about div.main ul li {
    margin: 5px;
}

.page.imprint div.main img {
    border: 1px solid #ffb900;
    float: right;
}

.page div.main h3 {
    color: #40B0E2;
}

.page div.plan-a,
.page div.plan-b,
.page div.plan-c {
	background-color: #fff;
    color: darkgrey;
	padding: 10px;
}

.page div.info {
	padding: 30px;
    padding-bottom: 10px;
	background-color: #e8e8e8;
    position: relative;
    min-height: 370px;
}

quote {
    display: block;
    margin: 10px;
    line-height: 1.5em;
    font-size: 1.1em;
    font-style: italic;
}

quote span.marks {
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    vertical-align: bottom;
    padding-right: 4px;
}

b.by {
    padding-left: 10px;
}

div.box {
    max-width: 45%;
    min-width: 30%;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    float: left;
    margin: 15px;
    margin-top: 0px;
}

p.box {
    max-width: 45%;
    min-width: 30%;
    position: relative; top: 20px; left: 20px;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    font-style: italic;
}

p.box b {
    font-style: normal;
    font-weight: 900;
}

.browse .space-maker .space {
    height: 400px;
}

.browse .poster-preview {
    float: left;
    width: 297px;
    height: 420px;
    padding: 0px;
    position: relative;
    opacity: 0.9;
    margin: 15px;
    margin-right: 30px;
    margin-left: 0px;
}

.browse .poster-preview:hover {
    opacity: 1;
    cursor: pointer;
}

.browse .poster-preview:hover a.link {
    background: #40B0E2;
    color: #fff;
}

.browse .poster-preview .graphic {
    width: 297px;
    height: 420px;
    padding: 0px; margin: 0px;
    padding-top: 15px;
    /** background-size: 300, 450; **/
}

.browse .poster-preview a.link {
    font-weight: 900;
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #343434;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 85%;
}

.browse .poster-preview a.link:hover {
    background: #40B0E2;
    color: #fff;
}

.browse .poster-preview .username {
    font-size: 1.5em;
    max-width: 250px;
    font-weight: 900;
    margin: 15px;
    margin-left: 0px;
    background-color: #343434;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.browse .main.area {
    min-height: 400px;
    padding-top: 0px;
}

.browse .bottom.area {
    float: left;
    background-color: #fff;
    padding: 5px;
    margin: 0px;
}

.page.imprint div.main,
.page.search-results div.main,
.page.legal div.main,
.page.philosophy div.main,
.page.sign-up div.main,
.page.about div.main {
    border-top: 1px solid #40B0E2;
    max-width: 600px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
}

.page.search-results div.main {
    max-width: 85%;
}

.page.search-results .main.area .result-view {
    padding: 15px;
    padding-left: 0px;
}

.page.search-results .main.area .result-view {
    padding: 15px;
    padding-left: 0px;
}

.page.search-results .main.area .result-view .track-view {
    padding-left: 15px;
}

.page.search-results .main.area .result-view span.streaming-url {
    margin-left: 10px;
}

.page.search-results .result-view.set a.set-title:hover:before,
.page.search-results .result-view.set .track-view a.track-title:hover:before,
.page.search-results .result-view.track a.track-title:hover:before {
    content: "+";
}
.page.search-results .result-view.set a.source,
.page.search-results .result-view.track a.source {
    font-size: small;
    color: #40B0E2;
}


.browse .main .page-controls {
    height: 30px;
    position: relative;
    top: 0px; right: 60px;
    background-color: #fff;
    color: darkgrey;
    text-align: right;
    margin-bottom: 0px;
}

.browse .main .page-controls a {
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}

.page-controls a.no-previous-page {
    font-weight: normal;
}

.page-controls a.previous-page {

}

.page-controls a.next-page,
.page-controls a.previous-page {
    font-weight: 700;
    color: #ffb900;
    cursor: pointer;
    background-color: #ffffff;
    /** background: linear-gradient(to bottom, #fefefe 0%,#a9a9a9 100%);
    -moz-linear-gradient(top, #fefefe 0%, #a9a9a9 100%);
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#a9a9a9));
    -o-linear-gradient(top, #fefefe 0%,#a9a9a9 100%);
    -ms-linear-gradient(top, #fefefe 0%,#a9a9a9 100%);
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#a9a9a9',GradientType=0 );**/
}


.page-controls a.no-next-page,
.page-controls a.no-previous-page {
    color: darkgrey;
    cursor: text;
    padding: 5px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /** background: linear-gradient(to bottom, #fefefe 0%,#a9a9a9 100%);
    -moz-linear-gradient(top, #fefefe 0%, #a9a9a9 100%);
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#a9a9a9));
    -o-linear-gradient(top, #fefefe 0%,#a9a9a9 100%);
    -ms-linear-gradient(top, #fefefe 0%,#a9a9a9 100%);
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#a9a9a9',GradientType=0 ); **/
}

.page-controls a.next-page:hover,
.page-controls a.previous-page:hover {
    /* border: 2px solid #40B0E2; **/
}

.page .footer.area {
    width: 85%;
    background-color: #fff;
    float: left;
    margin-top: 15px;
}

.page .punchline {
    color: #ffb900;
    font-weight: 700;
}

.page ul.low-menu {
	margin-right: 30px;
	line-height: 2em; padding: 0px;
}

.page ul.low-menu li {
    list-style-type: none;
	float: left;
	margin-left: 0px;
    margin-right: 20px;
}

.page ul.low-menu a {
    text-decoration: none;
    padding: 6px;
    color: darkgrey;
    padding-left: 10px; padding-right: 10px;
}

.page ul.low-menu li a.selected,
.page ul.low-menu a:hover {
	border-bottom: 2px solid #ffd463;
    color: #343434;
}
