
#hello .logo {
    margin-top: 20px;
}

#hello .frontpage-track {
    margin-top: 30px;
    font-size: 1.5em;
}

.page.welcome .main {
    font-size: 1em;
    width: 85%;
}

.page.welcome .subtitle {
    line-height: 2.2em;
}

#hello {
    font-size: .75em;
    min-width: 340px;
}

.page.legal .title,
.page.sign-up .title,
.page.help .title,
.page.about .title,
.page.philosophy .title {
    padding-right: 10px;
    text-align: left;
    padding-left: 10px;
    margin: 0px;
}

.page.imprint .title {
    text-align: right;
    margin: 0px;
    padding-right: 10px;
}

body.page.browse {
    margin: 30px;

}

body.page.browse .new-main {
    width: 55%;
}

body.page.browse .poster-preview {
    width: 100%;
    margin-right: 60px;
    height: 100%;
}

body.page.browse .poster-info {
    position: relative;
    top: -15px; left: 0px;
}

.page.pricing img.fitzel {
    width: 600px;
}
