
#hello .logo {
    margin-top: 10px;
}

#hello .logo img {
    width: 256px;
    height: 256px;
}

.page.welcome .main {
    font-size: .7em;
}

.page.welcome .subtitle {
    line-height: 2.2em;
}

#hello {
    font-size: .75em;
    min-width: 340px;
}

.page .title {
    font-size: 2.2em;
    padding-right: 10px;
}

div.logo.area {
	background-image: url("/com.soundposter.website/images/soundposter_button_blue_with_arrow_out_600.png");
	height: 400px; width: 400px;
	background-size: 400px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	margin-left: auto; margin-right: auto;
	cursor: pointer;
}

.page div.header .featured img {
    padding-top: 40px;
}

.page div.box {
    float: none;
    max-width: 95%;
}

.page div.area {
    margin: 30px 45px;
}

.page div.left-side,
.page div.right-side {
    width: 25px;
}

.page div.header .featured .author,
.page div.header .featured .headline {
    margin-left: 30px;
    margin-bottom: 10px;
}

.page.about div.main {
    padding-left: 0px;
}

.header.area .featured .description {
    font-size: 14px;
    padding: 5px;
    max-width: 60%;
    bottom: 40px; right: 10px;
    z-index: 100;
}

.header.area .featured .author {
    bottom: 10px; right: 10px;
    padding: 0px;
    z-index: 99;
}

.page div.header .featured .author a {
    font-size: 14px;
    padding: 5px;
}
