

/**  new school styles  */

body {
  margin: 0px; padding: 0px;
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
}

body.poster {
    overflow: hidden;
}

body.poster div.jquery-mobile-container.ui-page-active {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

object {
    position: fixed;
    left: 10px; top: 50px;
    width: 100px; height: 150px;
    z-index: 121;
    opacity: 0;
}

div.postergraphic {
    overflow: hidden;
    position: relative;
    cursor: move;
    z-index: 1;
}

div.postergraphic img {
    display: none;
    position: absolute; top: 0px; left: 0px;
    z-index: 111;
}

div#interactives {
    position: absolute; top: 0px; left: 0px;
    z-index: 113; display: none;
}

div#loading-area {
    /** top: y; left: x; get set programmatically */
    position: fixed;
    z-index: 112;
}

div.posteritem {
    display: none;
    position: absolute; top: 0px; left: 0px;
    cursor: pointer;
    z-index: 114;
}

div.notifications {
    position: fixed;
    top: 15px; left: 5px;
    z-index: 115;
    max-width: 580px;
}

div.notifications div {
    background-color: #40B0E2;
    color: #fff;
    opacity: .9;
    display: inline-block;
    margin-left: 10px; margin-right: 10px;
    padding: 5px;
}

div.notifications div.text {
    line-height: 1.8em;
}

div.notifications div.text a {
    /** todo: style as more button like */
    background-color: #fff;
    color: #000; margin-top: 10px; margin-bottom: 10px;
    text-decoration: none; padding: 5px;
}

audio#channel {
    display: none;
}

ul.listing {
    display: none;
    position: fixed; bottom: 0px;
    margin: 0px; padding: 10px;
    background-color: #333;
    border-top: 1px solid #fff;
    width: 100%; max-height: 75%;
    z-index: 201;
    color: #fff;
}


/** ul.listing li {
    list-style: none;
    margin: 0px; padding: 5px;
    margin-right: 30px;
} **/

/** Start: Override ui.jquery-mobile theme */

/** ul.listing li.ui-li-static.ui-li div.element {
    box-shadow: 0 1px 3px rgba(0,0,0,.7), inset 0 1px 1px rgba(255,255,255,.2);
    background-color: #3a3a3a;
    background: linear-gradient(to bottom, #3a3a3a 0%,#333333 100%);
    -moz-linear-gradient(top, #3a3a3a 0%, #333333 100%);
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#333333));
    -o-linear-gradient(top, #3a3a3a 0%,#333333 100%);
    -ms-linear-gradient(top, #3a3a3a 0%,#333333 100%);
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#333333',GradientType=0 );
    padding: 5px; padding-top: 7px;
    margin-right: 50px;
} **/

/** ul.listing li.ui-li-static.ui-li {
    display: inline-block; **/
    /** text-shadow: 0px -1px rgba(255,255,255,1); **/
    /** padding: 5px;
    padding-left: 0px;
    width: 100%;
    margin-right: 30px;
    background: transparent;
    background-image: none;
} **/

/** ul.listing .ui-btn-up-c {
    color: #fff;
    font-weight: normal;
    border: 0px solid transparent;
} **/

ul.listing {
    overflow-y: scroll;
    overflow-x: hidden;
}

.poster .ui-body-c .ui-link,
.poster .ui-btn-up-a {
    font-weight: normal;
    font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
    text-shadow: none;
    text-decoration: none;
}

.poster .listing .playnow {
    color: #fff;
    text-decoration: none;
}

.lower-menu .ui-body-c .ui-link:hover,
.poster .controls .ui-body-c .ui-link:hover {
    color: #999;
}

.poster .controls .ui-body-c .ui-link:hover {
    color: #fff;
}

poster. .controls .ui-body-c .ui-link:active {
    color: #fff;
}

/** needs JS-placement */
form.ui-listview-filter {
    z-index: 202;
}

body.ui-body-c {
    font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
    color: #000;
    text-shadow: none;
    font-weight: normal;
}

/** End: Override ui.jquerymobile theme **/

/** background: #01215a; **/
/* .controls .btn {
    font-size: 14px; color: #fff;
    transition: opacity 400ms ease;
    display: inline-block;
    border-radius: 3px;
    text-shadow: 0px -1px rgba(0,0,0,1);
    box-shadow: 0 1px 3px rgba(0,0,0,.7), inset 0 1px 1px rgba(255,255,255,.2);
    background: linear-gradient(to bottom, #004287 0%,#002f61 100%);
    -moz-linear-gradient(top, #004287 0%, #002f61 100%);
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004287), color-stop(100%,#002f61));
    -o-linear-gradient(top, #004287 0%,#002f61 100%);
    -ms-linear-gradient(top, #004287 0%,#002f61 100%);
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#004287', endColorstr='#002f61',GradientType=0 );
} **/

div.controls {
    position: absolute; top: 30px; right: 0px;
	z-index: 11; margin-top: 10px;
	background-color: transparent;
	padding-left: 0px;
    color: #fff;
    text-align: right;
}

div.controls #selection {
    display: none;
    position: fixed; top: 140px; right: 20px;
    /** background-color: #fff; color: #000; **/ color: #fff;
    padding: 5px; padding-left: 10px; padding-right: 10px;
    opacity: 1;
}

div.controls #jp_container_1 {
    position: fixed; top: 65px; right: 30px;
    text-align: right; width: 290px;
}

div.jp-progress {
    display: inline-block;
    position: absolute; top: 40px; right: 0px;
    height: 29px; width: 60px;
    z-index: 116;
    color: #fff;
}

@-moz-document url-prefix() {

    div.jp-progress {
        height: 31px; right: 0px;
    }

}

div.jp-progress:hover {
    width: 210px;
    cursor: pointer;
}

div.jp-seek-bar {
    background-color: #fff;
    /** background: url("jplayer.blue.monday.jpg") repeat-x scroll 0pt -218px transparent **/
    height: 100%;
    opacity: .5;
    z-index: 99;
}

div.controls .timer {
    position: absolute; top: 6px; right: 6px;
    color: #000;
    z-index: -1;
    text-shadow: 1px 1px 1px #fff;
}

div.jp-play-bar {
    background-color: #40B0E2;
    /** background: url("jplayer.blue.monday.jpg") repeat-x scroll 0pt -218px transparent **/
    height: 100%;
}

a.tracklist-toogle,
a.jp-play, a.jp-pause,
a.jp-next, a.jp-prev {
    text-decoration: none;
    color: #999; /** background-color: #fff; **/
    background-color: #3a3a3a;
    background: linear-gradient(to bottom, #3a3a3a 0%,#333333 100%);
    -moz-linear-gradient(top, #3a3a3a 0%, #333333 100%);
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#333333));
    -o-linear-gradient(top, #3a3a3a 0%,#333333 100%);
    -ms-linear-gradient(top, #3a3a3a 0%,#333333 100%);
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#333333',GradientType=0 );
    padding: 5px;
    padding-top: 6px;
}

a.jp-play, a.jp-pause,
a.jp-next, a.jp-prev {
    display: none;
}

a.tracklist-toogle:hover,
a.tracklist-toogle.active {
    background: #40B0E2;
    color: #fff;
}

#jp_container_1 a.jp-play:hover,
#jp_container_1 a.jp-pause:hover,
#jp_container_1 a.jp-next:hover,
#jp_container_1 a.jp-prev:hover {
    color: #fff;
}

.lower-menu {
    position: fixed;
    bottom: 0px; right: 30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 200;
    background-color: #3a3a3a;
    background: linear-gradient(to bottom, #3a3a3a 0%,#333333 100%);
    -moz-linear-gradient(top, #3a3a3a 0%, #333333 100%);
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#333333));
    -o-linear-gradient(top, #3a3a3a 0%,#333333 100%);
    -ms-linear-gradient(top, #3a3a3a 0%,#333333 100%);
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#333333',GradientType=0 );
    padding-right: 10px;
    padding-left: 5px;
}

.lower-menu .source {
    display: none;
}

a.source,
a.share,
a.support-link {
    display: inline-block;
    color: #999;
    text-decoration: none;
    padding: 5px;
    padding-top: 7px;
}

a.source:hover,
a.share:hover,
a.support-link:hover {
    color: #fff;
}

div.posteritem.playing {
    background: #40B0E2;
    color: #fff;
}

/** Setlist Styling */

/** ul.listing li div.element a {
    margin-right: 5px;
    padding-top: 7px;
    text-decoration: none;
    color: #fff; **/
    /* border-right: 1px solid #fff;
    background: linear-gradient(to bottom, #fff 0%, #bbb 100%);
    -moz-linear-gradient(top, #fff 0%, #bbb 100%);
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#bbb));
    -o-linear-gradient(top, #fff 0%,#bbb 100%);
    -ms-linear-gradient(top, #fff 0%,#bbb 100%);
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#bbb',GradientType=0 );
    text-shadow: 0px -1px 2rgba(255,255,255,1); **/
/** } **/


ul.listing li.ui-li-divider {
    font-size: 1.1em;
    padding: 0px;
    padding-top: 10px;
}

ul.listing .ui-li-static.ui-li {
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.7), inset 0 1px 1px rgba(255,255,255,.2);
    background-color: #3a3a3a;
    background: linear-gradient(to bottom, #3a3a3a 0%,#333333 100%);
    -moz-linear-gradient(top, #3a3a3a 0%, #333333 100%);
    -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#333333));
    -o-linear-gradient(top, #3a3a3a 0%,#333333 100%);
    -ms-linear-gradient(top, #3a3a3a 0%,#333333 100%);
    progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#333333',GradientType=0 );
    margin-top: 7px; margin-right: 15px;
}

ul.listing .ui-li-static.ui-li.ui-last-child {
    margin-bottom: 15px;
}

ul.listing .ui-li-static.ui-li.playing {
    background: #40B0E2;
    color: #fff;
}

/** ul.listing li.ui-li-static.ui-li div.element.playing {
  background: linear-gradient(to bottom, #1a9de2 0%,#40B0E2 100%);
  color: #fff; /** padding-left: 5px;
} **/

/** ul.listing li.ui-li-static.ui-li div.element.playing a.playnow {
    display: none;
} **/

/** ul.listing div.element .artist-name,
ul.listing div.element .album-name {
    font-style: italic;
} **/

ul.listing div.element .track-position,
ul.listing div.element .track-name,
ul.listing div.element .artist-name,
ul.listing div.element .album-name {
    margin-right: 5px;
    z-index: 2;
}

ul.listing div.element .source-info {
    cursor: pointer;
    text-shadow: none;
    position: absolute; right: 10px;
    border: 0px;
    padding-left: 10px;
    z-index: 0;
}

ul.listing div.element .source-info a {
    background: none;
    border: 0px solid transparent;
}

ul.listing div.element .source-info a.soundcloud-stream {
    background: url("/com.soundposter.website/images/80x50_orange.png") no-repeat 0 2px;
    background-size: contain;
    text-decoration: none;
    width: 60px;
}

ul.listing div.element .source-info a.unspecified-stream.unavailable,
ul.listing div.element .source-info a.bandcamp-stream.unavailable,
ul.listing div.element .source-info a.soundcloud-stream.unavailable {
    opacity: .5;
    cursor: default;
}

ul.listing div.element .source-info a.bandcamp-stream {
    background: url("/com.soundposter.website/images/logowhite_bc.png") no-repeat 0 3px;
    background-size: contain;
    text-decoration: none;
    width: 60px;
}

ul.listing div.element .source-info a.unspecified-stream {
    text-decoration: none;
    background: none;
    width: 60px;
}

.ui-body-c .ui-link .top-menu li a:hover,
.ui-body-c .ui-link .controls a.jp-next:hover,
.ui-body-c .ui-link .controls a.jp-prev:hover,
.ui-body-c .ui-link .controls a.jp-play:hover,
.ui-body-c .ui-link .controls a.jp-pause:hover {
    color: #fff;
}










/** Site-wide styles does start here **/

body.page {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 70px;
    /** background: linen; **/
    color: darkgray;
}

.page .title {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em;
    margin: 30px 90px;
    margin-bottom: 20px;
}

.page .subtitle {
    font-size: 1.5em;
    margin: 30px 90px;
    font-weight: 700;
    line-height: 1.5em;
    margin-top: 0px;
}

/** .page .title .subtitle {
    font-size: 1.4em;
} **/

.page a {
    color: rgb(64, 176, 226);
}

/** .page .title a.expanded {
    background: #40B0E2;
} **/

.page .title .pre-logo {
}

.page .title .logo {
    color: #343434;
}

.page .title a {
    text-decoration: none;
    color: #343434;
}

.page .subtitle a.active {
    background-color: #40B0E2;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.page .subtitle a {
    float: none;
    text-decoration: none;
}

.page div.left-side {
    position: fixed; top: 0px; left: 0px;
    background-color: white;
    /** background: url('/com.soundposter.website/images/site/_background_left_side.png') repeat-y;
    border-right: 1px solid #3a3a3a; **/
    height: 100%; width: 57px;
}

.page div.right-side {
    position: fixed; top: 0px; right: 0px;
    background-color: white;
    /* background: url('/com.soundposter.website/images/site/_background_right_side.png') repeat-y;
    border-left: 1px solid #3a3a3a; **/
    height: 100%; width: 58px;
}

.page div.area {
    margin: 30px 90px;
	padding: 0px;
	background-color: #e8e8e8;
}

/** div.logo.area:hover {
	background-image: url("/com.soundposter.website/images/soundposter_button_blue_with_arrow_out_600.png");
} **/

.page div.header.area {
	background-color: white;
    margin-top: 30px;
    overflow: hidden;
    /** position: relative;
    left: 0px; top: 20px;
    margin: 0px; **/
}

.page div.header .featured {
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
    height: 700px;
    text-align: center;
    /* border-top: 1px solid #343434;
    border-bottom: 1px solid #343434; */
}

.page div.header .featured img {
	background-color: transparent;
	border: 0px solid transparent;
	cursor: pointer; float: right; padding-right: 100px;
    max-height: 400px; padding-top: 200px;
}

.page div.header .featured .headline {
    font-size: 2.4em;
    line-height: 1.6em;
    max-width: 600px;
    font-weight: 900;
    margin: 60px; margin-bottom: -8px;
    float: left;
    text-align: left;
    background-color: #343434;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.page div.header .featured .author {
    font-size: 1.1em;
    max-width: 375px;
    font-weight: 900;
    margin: 0px 0px 30px 0px;
    color: #fff;
    text-align: left;
    font-style: italic;
}

.page div.header .featured .headline a {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page div.header .featured .author a {
    color: #fff;
    text-decoration: none;
}

.page div.header .featured .author:hover {
    background-color: #40B0E2;
    color: #fff;
}

.page div.main.area {
    background: #fff;
    font-size: 1.1em;
}

.page.legal div.main,
.page.philosophy div.main,
.page.sign-up div.main,
.page.about div.main {
    border-top: 1px solid #40B0E2;
    max-width: 600px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
}

#newsletter textarea.message,
#newsletter input.text {
    display: block;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #40B0E2;
    background-color: #fff;
    font-family: "Myriad Pro Regular", "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    color: #343434;
    margin: 15px;
    width: 300px;
    margin-left: 0px;
}

#newsletter textarea.message {
    height: 140px;
    padding-top: 10px;
}

#newsletter input:focus {
    border-top: 2px solid #343434;
}

#newsletter input.submit {
    cursor: pointer;
    font-family: "Myriad Pro Regular", "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    color: #343434;
    padding: 10px;
    margin: 15px;
    height: 44px;
    margin-left: 0px;
}

.page.about div.main ul li {
    margin: 5px;
}

.page div.main h3 {
    color: #40B0E2;
}

.page div.plan-a,
.page div.plan-b,
.page div.plan-c {
	background-color: #fff;
    color: darkgrey;
	padding: 10px;
}

.page div.info {
	padding: 30px;
    padding-bottom: 10px;
	background-color: #e8e8e8;
    position: relative;
    min-height: 370px;
}

quote {
    display: block;
    margin: 10px;
    line-height: 1.5em;
    font-size: 1.1em;
    font-style: italic;
}

quote span.marks {
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
    vertical-align: bottom;
    padding-right: 4px;
}

b.by {
    padding-left: 10px;
}

div.box {
    max-width: 45%;
    min-width: 30%;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    float: left;
    margin: 15px;
    margin-top: 0px;
}

p.box {
    max-width: 45%;
    min-width: 30%;
    position: relative; top: 20px; left: 20px;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    font-style: italic;
}

p.box b {
    font-style: normal;
    font-weight: 900;
}

.poster ul.top-menu {
	position: fixed; top: 10px; right: 30px;
	z-index: 11; margin-top: 10px;
	background-color: #fff;
	padding-left: 0px;
}

.poster ul.top-menu li {
	list-style-type: none;
	margin: 0px;
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
}


.browse .space-maker .space {
    height: 400px;
}

.browse .poster-preview {
    float: left;
    width: 297px;
    height: 420px;
    padding: 0px;
    position: relative;
    opacity: 0.9;
    margin: 15px;
    margin-right: 30px;
    margin-left: 0px;
}

.browse .poster-preview:hover {
    opacity: 1;
    cursor: pointer;
}

.browse .poster-preview:hover a.link {
    background: #40B0E2;
    color: #fff;
}

.browse .poster-preview .graphic {
    width: 297px;
    height: 420px;
    padding: 0px; margin: 0px;
    padding-top: 15px;
    /** background-size: 300, 450; **/
}

.browse .poster-preview a.link {
    font-weight: 900;
    margin-top: 15px;
    font-size: 1.5em;
    background-color: #343434;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 85%;
}

.browse .poster-preview a.link:hover {
    background: #40B0E2;
    color: #fff;
}

.browse .poster-preview .username {
    font-size: 1.5em;
    max-width: 250px;
    font-weight: 900;
    margin: 15px;
    margin-left: 0px;
    background-color: #343434;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.browse .main.area {
    min-height: 400px;
    padding-top: 0px;
}

.browse .bottom.area {
    float: left;
    background-color: #fff;
    padding: 5px;
    margin: 0px;
}

body.poster .warning {
    margin: 30px;
    padding: 10px;
    color: #fff;
    background-color: #40B0E2;
    opacity: .9;
    display: inline-block;
    position: fixed;
    top: 30px;
    left: 30px;
}

.poster ul.top-menu a {
	text-decoration: none;
	color: #40B0E2;
    padding: 7px;
    padding-left: 10px; padding-right: 10px;
}

.poster ul.top-menu li a {
    padding: 6px;
}

.poster ul.top-menu li a.active,
.poster ul.top-menu li a:hover {
    background-color: #40B0E2;
    color: #000;
    padding-top: 8px;
    padding-bottom: 7px;
}

.poster ul.top-menu li a.active {
    padding-left: 10px;
    padding-right: 10px;
}

.poster ul.top-menu li a.active {
	background-color: #40B0E2;
    color: #000;
}

.poster .top-menu .embed-area {
    margin-top: 5px;
}

.poster .top-menu .embed-area input {
    background-color: #fff;
    color: #a9a9a9;
    padding: 5px;
    border: 0px solid transparent;
    width: 95%;
}

p.footer {
	position: relative; top: 20px; right: 40px;
	font-size: small;
	color: #a9a9a9;
}

p.footer a {
	color: #40B0E2;
}







/**  old school styles  */

.error-message {
    font-weight: bold;
    color: #fff;
    padding: 20px;
}

#sp-bar .error-message a.btn {
    backgrund-color: #a9a9a9;
    color: #333;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

#sp-bar .error-message a.btn.no-way:hover,
#sp-bar .error-message a.btn.no-way:active {
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
}

#sp-bar .error-message a.btn.ok:hover,
#sp-bar .error-message a.btn.ok:active {
    background-color: #000000;
    color: #a9a9a9;
    text-decoration: none;
}

#page-toolbar {
  margin-top: 0em;
}

#soundposter {
  font-family: "Myriad Pro Regular", "Trebuchet MS", sans-serif;
  width: 100%; height: 100%; margin: 0px; padding: 0px;
  position: relative; left: 0px; top: 0px;
}

.postergraphic {
  /** position: absolute; left: -600px; top: -600px; **/
  position: absolute; top: 0px; left: 0px;
  z-index: 0;
}

.postercontainer {
  position: relative; top: 0px; left: 0px;
}

.posteritem {
  background-color: #efefef;
  color: #3D3D3D; padding: 6px; font-weight: bold; /* font-style: italic; */
  z-index: 100; font-size: 14px; font-family: "Myriad Pro Regular", "Trebuchet MS", sans-serif;
}

.postertext {
  background-color: #3d3d3d; color: #fff; /** color: #40B0E2; **/
  padding: 4px; font-weight: bold; /* font-style: italic; */
  z-index: 113; font-size: 16px; font-family: "OopenMyriad Pro Regular", "Trebuchet MS", sans-serif;
}

.played {
  background-color: #40B0E2;
  color: #fff;
}

#sp-bar {
  width: 100%;
  min-height: 38px;
  background-color: #000;
  color: #fff; border-bottom: 2px solid #fff;
  position: fixed; left: 0px; top: 0px;
  z-index: 2001;
}
/** ### firefox: psition relative form trakcname.. +2px fromt op **/
#sp-bar a,
#sp-bar a:link,
#sp-bar a:visited {
  color: #fff; text-decoration: none; cursor: pointer; padding: 4px;
}

#lgn {
  cursor: pointer; margin-top: 0.2em; color: #fff; padding-left: 4px;
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
}

#contact {
  position: absolute; left: 20px; bottom: 10px; color: #e8e8e8; display: none;
}

#support-link-2 {
  position: absolute; right: 20px; bottom: 10px; color: #e8e8e8; z-index: 1000;
}

#support-link-2 a {
  font-style: italic; color: #fff; font-weight: bold; text-decoration: none;
}

#support-link-2 p {
  padding: 0; margin: 0;
}
/** background-color: #000; padding-top: 5px;
  height: 35px; width:210px; position: absolute; bottom: 20px; right: 0px;
  -moz-border-radius-topleft: 50px; border-top-left-radius: 50px;  **/

/** ### firefox: psition relative form trakcname.. +2px fromt op **/
#sp-bar a,
#sp-bar a:link,
#sp-bar a:visited {
  color: #fff; text-decoration: none; cursor: pointer; padding: 4px;
}

#sp-bar a:hover {
  color: #fff; text-decoration: underline; cursor: pointer; padding: 4px;
}

#sp-bar a:hover {
  color: #fff; text-decoration: underline; cursor: pointer; padding: 4px;
}

/** .title, .title a {
  font-size: 24px; text-decoration: none; float:right; margin-top: 0.2em;
} **/

.shadowed {
  text-shadow: 1px 1px 5px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
