
a.share,
a.support-link,
a.tracklist-toggle {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

a.tracklist-toogle,
a.jp-play, a.jp-pause,
a.jp-next, a.jp-prev {
    color: #fff;
}

a.tracklist-toogle.active {
    background: #40b0e2;
}

#sign-up {
    display: none;
}

ul.listing {
    max-height: 65%;
}

ul.listing li.ui-li-static.ui-li div.element {
    margin-right: 15px;
}

ul.top-menu {
    right: 10px;
}

div.notifications {
    top: 50px; max-width: 240px;
}
