
a.share,
a.support-link,
a.tracklist-toggle {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

a.tracklist-toogle,
a.jp-play, a.jp-pause,
a.jp-next, a.jp-prev {
    color: #fff;
}

a.tracklist-toogle.active {
    background: #40b0e2;
}

#sign-up {
    display: none;
}

ul.listing {
    max-height: 65%;
}

ul.listing div.element .source-info {

}

ul.listing .ui-li-static.ui-li {
    margin-right: 20px;
}

div.controls #selection,
div.controls #jp_container_1,
.poster ul.top-menu {
    right: 10px;
}

div.notifications {
    top: 50px; max-width: 240px;
}

div.jp-progress {
    display: none;
}

