
a.share,
a.support-link,
a.tracklist-toggle {
    color: #fff;
    padding: 5px;
}

a.tracklist-toogle,
a.jp-play, a.jp-pause,
a.jp-next, a.jp-prev {
    color: #fff;
}

a.tracklist-toogle.active {
    background: #40b0e2;
}

ul.listing .ui-li-static.ui-li {
    margin-right: 15px;
}

div.controls #selection,
div.controls #jp_container_1,
ul.top-menu {
    right: 15px;
}

div.jp-progress {
    width: 210px;
}


.poster ul.top-menu {
    top: 20px;
}

div.controls #jp_container_1 {
    right: 30px;
    top: 85px;
}

#jp_container_1 a.jp-play,
#jp_container_1 a.jp-pause,
#jp_container_1 a.jp-next,
#jp_container_1 a.jp-prev {
    padding: 8px;
}

a.tracklist-toogle {
    padding: 8px;
}
