
a.share,
a.support-link,
a.tracklist-toggle {
    color: #fff;
    padding: 10px;
}

a.tracklist-toogle,
a.jp-play, a.jp-pause,
a.jp-next, a.jp-prev {
    color: #fff;
}

a.tracklist-toogle.active {
    background: #40b0e2;
}
