<!DOCTYPE html>
<html>

    <head>

        <title>About soundposter.com</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="keywords" th:content="${keywords}"/>
        <meta name="description" th:content="${description}" />
        <meta name="title" th:content="${name}" />
        <meta name="author" th:content="${author}" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Piwik, Modernizr and DeepaMehta 4. -->

        <!-- Piwik>
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        End Piwik Tracking Code -->

        <link rel="stylesheet" href="/com.soundposter.website/poster/base.css"/>
        <!--script type="text/javascript" src="http://modernizr.com/downloads/modernizr-latest.js"></script-->
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/modernizr/custom.36000.js"></script>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/poster/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/js/adapt.min.js"></script>

    </head>

    <body class="about page" th:attrappend="class=${' ' + pageId}">

        <div class="left-side"></div>
        <div class="right-side"></div>

        <!-- ul class="top-menu">
            <li><a class="active" href="#">Welcome</a></li>
            <li><a href="/sign-up">Sign-up</a></li>
            <li><a href="/browse">Browse</a></li>
        </ul-->

        <div class="title">
            <span class="pre-logo">Welcome to&nbsp;</span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="subtitle">
            At the moment you can <a href="/sign-up">/sign</a> your interest to collaborate with us or <a href="/browse">/browse</a> all soundposters. Additionally, you can read <a href="/#say-what">what others say</a> or what <a href="/about-us" class="active">/we say about us</a>.
        </div>

        <div class="main area">
            <h3>Service Development Roadmap</h3>
            <p>
                Is to be announced at 1st of September 2013.
            </p>
            <p>&nbsp;</p>
            <h3>Idea background &amp; Credits</h3>
            <p>
                The name soundposter stands for an interaction format and with this platform we aim to revitalize music-graphics (namely covers, booklets, gig-Poster, ...) by giving the creation process into the hands of our users. The name was synthesized after more than 2 years of supportive, friendly and open talk with many really cool people. Below you can find more about these guys.
            </p>
            <p>
                The complete soundposter.com platform was designed &amp; developed with some concentration and my own two hands (<a href="http://mikromedia.de">mikromedia.de</a>). But what I want to point here is: I am standing on the shoulders of giants who are working hard to keep the web open and you can find out about all of them in the technical section of our blog.
            </p>

            <b>Friends &amp; Partners</b><br/><br/>
            A list of friends who have been <i>very</i> supportive to get us where we are right now:
            <ul>
                <li><a href="http://all2gethernow.de/">all2gethernow e.V. (Berlin)</a><br/>(Network, Events &amp; Idea Development</li>
                <li><a href="http://bandcamp.com">Bandcamp (International)</a><br/>(Streaming services, API-Provider)</li>
                <li><a href="http://www.c3s.cc">C3S (Europe, Germany)</a><br/>(Marketing partner)</li>
                <li><a href="http://www.deepamehta.org">DeepaMehta e.V. (Berlin)</a><br/>(Inspirational Community &amp; Technical Support)</li>
                <li><a href="http://musicscatter.com/">MusicScatter (Berlin)</a><br/>(The new service for upcoming gigs in your city)</li>
                <li><a href="http://www.newthinking.de">newthinking communications GmbH (Berlin)</a><br/>(Network, Idea &amp; Business Development)</li>
                <li><a href="http://soundcloud.com">SoundCloud (International)</a><br/>(Streaming services, API-Provider)</li>
                <li><a href="http://www.solution-scout.de">Solution Scout (Berlin)</a><br/>(Idea Development)</li>
                <li><a href="http://www.soundposter.ch">Soundposter.ch (Switzerland &amp; U.S.A)</a><br/>(Partner &amp; Business Development)</li>
            </ul>
            Thank you all for your unlimited support!<br/><br/>
            Yours Truly
        </div>

        <!--div class="main area">
            <div class="plan-a child-area">
                <h3>Plan A</h3>
                <p>..</p>
            </div>
            <div class="plan-b child-area">
                <h3>Plan B</h3>
                <p>...</p>
            </div>
            <div class="plan-c child-area">
                <h3>Plan C</h3>
                <p>....</p>
            </div>
        </div-->

        <ul class="low-menu">
            <li>Help</li>
            <li>Legal / Imprint</li>
            <li>Philosophy</li>
            <li><a href="/about-us">About us</a></li>
            <li><a href="http://blog.soundposter.com" title="Editing Soundposter">Our Blog</a></li>
        </ul>

        <!--noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript-->

    </body>

</html>