<!DOCTYPE html>
<html>

    <head>

        <title>About soundposter.com</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="About soundposter.com, a platform for illustrating sounds on the web and publishing audible web-apps." />
        <meta name="keywords" content="browse, audible websites, soundposter, streams, music graphics, streaming, images, poster-graphics, mobile web app,
              gigposter, gigs, live, shows, festivals, graphics, sound, record, song, albums, records, soundposter index, all soundposter, tracks, sets, sounds, 
              bookmarking, tracklist, playlist, visual playlist, playlists, music, web communication, tool, publishing, platform, digital music distribution, web making"/>
        <meta name="author" content="Malte Reissig, http://www.mikromedia.de" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link rel="stylesheet" href="/com.soundposter.website/site/site.css"/>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>


        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/" : "http://stats.soundposter.com/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <!-- ul class="top-menu">
            <li><a class="active" href="#">Welcome</a></li>
            <li><a href="/sign-up">Sign-up</a></li>
            <li><a href="/browse">Browse</a></li>
        </ul-->

        <div class="title">
            <span class="punchline pre-logo">About the platform </span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="main">

            <div class="what-others">
                <a name="say-what">&nbsp;</a>
                <div class="info child-area">
                    <h3>What others say?</h3>
                    <div class="box">
                        <quote><span class="marks">&#8220;</span>Finally a beatiful player for my records on the web.<span class="marks">&#8221;</span></quote>
                        <b class="by"><a href="/moh/joestrommler" title="Soundposter: Joes Trommler">Ben (Joes Trommler)</a></b><br/><br/>
                        <quote><span class="marks">&#8220;</span>And a very special highlight: Based on our SoundCloud-Compilation we have a fantastic tool allowing you to cruise over the sound and the area of the Torstra&szlig;enfestival in advance.<span class="marks">&#8221;</span></quote>
                        <b class="by"><a href="https://newthinking.de/2012/08/24/die-karte-der-zeitplandie-musik-torstrasen-festival-2012/" title="Blog entry (German) by newthinking communications GmbH">newthinking</a></b>
                    </div>
                    <div class="box">
                        <quote><span class="marks">&#8220;</span>This is absolutely the perfect tool for events with music in the program.<span class="marks">&#8221;</span></quote>
                        <b class="by"><a href="http://www.blogbleistift.de/post/30029987835/soundposter" title="Blog und Bleistift (German)">Anna-Lena</a></b><br/><br/>
                        <quote><span class="marks">&#8220;</span>Through this piece of technology I came across Oscar &amp; The Wolf.<span class="marks">&#8221;</span></quote>
                        <b class="by"><a href="http://onrealitysedge.wordpress.com/2012/08/29/oscar-the-wolf-und-das-torstrasenfestival/" title="Blog: On Reality's Edge (German)">Christoph</a></b>
                    </div>
                    <div class="box">
                        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">As always: nice line up, nice poster! <a href="https://twitter.com/TSF_Berlin">@TSF_Berlin</a> <a href="https://twitter.com/hashtag/TSF14?src=hash">#TSF14</a> <a href="http://t.co/AfD9fwGeMu">http://t.co/AfD9fwGeMu</a></p>&mdash; Tracks (@Tracks_de) <a href="https://twitter.com/Tracks_de/status/504612446779473920">August 27, 2014</a></blockquote>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <!---h3>Service Development Roadmap</h3>
            <p>
                Overview about the final three tasks:
                <ol>
                    <li><s>Create first logo and web-design.</s> - Done</li>
                    <li>
                        Make authoring soundposters more user friendly. - Accepted<br/>
                        <s>SoundCloud Track Search</s> - Done.<br/>
                        <s>Bandcamp Artist, Album and Track Search</s> - Done.<br/>
                        <s>Synchronization of SoundCloud <i>Sets</i></s> - Done.<br/>
                        SoundCloud Login - Accepted<br/>
                        Registration dialog .. - Hhm...<br/>
                        Poster graphic upload view - Wooho!<br/>
                        Simplified linking view (referencing/adding new streams)<br/>
                        Simple setlist management<br/>
                        ...<br/>
                    </li>
                    <li>Open up this service, one country at a time. - Known issues</li>
                </ol>
                When all this work is done I will start to relax again and work on other projects, before we finally strive towards being able to announce the <b>second-level of soundposter.com</b> in 2015/16.
            </p>
            <p>&nbsp;</p-->
            <h3>Idea background &amp; Credits</h3>
            <p>
                With soundposter.com one can depict a playlist on the web across many devices.
                Soundposter provides us an interaction format for audible websites.
            </p>
            <p>
                At this early stage of soundposter.com, there is no DIY interface yet. Please <a href="/sign-up">get in touch</a> with us if you would like to use soundposter.com, and we will help you do it.
                We aim to bring the creation process of visual setlists, lp-covers, booklets and gig-posters into the hands of listeners <i>and</i> artists.
            </p>
            <p>
                All its concepts were distilled after more than 2 years of supportive, friendly and open talk with many really cool people. Expect a blog post on the ideas and discussion which fueled the distillation process anytime soon. For now you can find out more about these guys here, they all have been <i>very</i> supportive to us:
            </p>
            <ul>
                <li><a href="http://all2gethernow.de/">all2gethernow e.V. (Berlin)</a><br/>(Network, Events &amp; Idea Development</li>
                <li><a href="http://www.rostfrei-gestalten.de">rostfrei gestalten</a><br/>(Gestaltung &amp; Produktion)</li>
                <li><a href="http://www.c3s.cc">C3S (Europe, Germany)</a><br/>(Marketing partner)</li>
                <li><a href="http://www.deepamehta.org">DeepaMehta e.V. (Berlin)</a><br/>(Inspirational Community &amp; Technical Support)</li>
                <li><a href="http://musicscatter.com/">MusicScatter (Berlin)</a><br/>(Friend - The new service for upcoming gigs in your city)</li>
                <li><a href="http://www.newthinking.de">newthinking communications GmbH (Berlin)</a><br/>(Network, Idea &amp; Business Development)</li>
                <li><a href="http://www.solution-scout.de">Solution Scout (Berlin)</a><br/>(Idea Development)</li>
                <li><a href="http://bandcamp.com">Bandcamp (International)</a><br/>(Streaming services, API-Provider)</li>
                <li><a href="http://soundcloud.com">SoundCloud (International)</a><br/>(Streaming services, API-Provider)</li>
            </ul>
            Thank you all for your unlimited support over the past two years.<br/><br/>
            Yours Truly <br/><br/>
            <h3>Website history</h3>
            Platform backend realized with a simple player - (Berlin, Winter 2012/13)<br/>
            1st Website and 2nd Player Launch (Berlin, Summer 2013)<br/>
            1st Designed Website Re-Launch (Berlin, Sept 30 2014)<br/>
            Website design completion, player update - (Leipzig, Dec 31 2014)<br/>
            Migration to new server, deployment of new web-design - (Leipzig, Mar 28 2015)<br/>
            Activate user registration and more - Pending<br/>
        </div>

        <div class="backdrop"></div>

        <!--div class="main area">
            <div class="plan-a child-area">
                <h3>Plan A</h3>
                <p>..</p>
            </div>
            <div class="plan-b child-area">
                <h3>Plan B</h3>
                <p>...</p>
            </div>
            <div class="plan-c child-area">
                <h3>Plan C</h3>
                <p>....</p>
            </div>
        </div-->

        <div class="content-links">
            <a href="/">Frontpage</a>
        </div>

        <!-- Today it seems to be the case that someone does not suceed in using CSS selectors :D - but i need to deploy .. TSF'!5 is on its doorsteps!-->
        <div id="social-media" class="footer bottom" style="min-height: 100px; padding: 40px; padding-left: 32%; margin: 0px; margin-top: 60px; color: #a9a9a9; background-color: #343434; 
            background-image: url('/com.soundposter.website/images/website_pattern_dg.jpg'); background-repeat: repeat; background-position: 0px 0px; position: relative; left: -20px; top: 20px;">
            <a class="titter" href="https://twitter.com/soundposter" style="text-decoration: none;">
                <img src="/com.soundposter.website/images/1433614070_twitter_circle_gray.png" title="Follow us on twitter" alt="Graphic, suggesting you to follow us on twitter"/>
            </a>
            <a class="tumlr" href="http://blog.soundposter.com" style="text-decoration: none;">
                <img src="/com.soundposter.website/images/1433614072_tumblr_circle_gray.png" title="Check us out on tumblr" alt="Graphic, suggesting you to follow us on tumblr"/>
            </a>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>