<!DOCTYPE html>
<html>

    <head>

        <title>About soundposter.com</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="title" content="About soundposter.com" />
        <meta name="keywords" content="creating, making, visual playlist, playlists, sound, music, web communication,
                tool, audible websites, publishing, platform, digital music distribution"/>
        <meta name="description" content="Soundposter is a platform for illustrating and publishing audible websites." />
        <meta name="author" content="Malte Reissig, http://www.mikromedia.de" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link rel="stylesheet" href="/com.soundposter.website/site/site.css"/>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>


        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <!-- ul class="top-menu">
            <li><a class="active" href="#">Welcome</a></li>
            <li><a href="/sign-up">Sign-up</a></li>
            <li><a href="/browse">Browse</a></li>
        </ul-->

        <div class="title">
            <span class="punchline pre-logo">About the platform </span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="main">
            <h3>Service Development Roadmap</h3>
            <p>
                Overview about the final three tasks:
                <ol>
                    <li><s>Create first logo and web-design.</s> - Done</li>
                    <li>
                        Make authoring soundposters more user friendly. - Accepted<br/>
                        <s>SoundCloud Track Search</s> - Done.<br/>
                        <s>Bandcamp Artist, Album and Track Search</s> - Done.<br/>
                        <s>Synchronization of SoundCloud <i>Sets</i></s> - Done.<br/>
                        SoundCloud Login - Accepted<br/>
                        Registration dialog<br/>
                        Simplify linking view (referencing/adding new streams)<br/>
                        Setlist management view<br/>
                        Poster graphic uplad view<br/>
                        Soundposter composer view<br/>
                    </li>
                    <li>Open up this service, one country at a time. - Known issues</li>
                </ol>
                When all that work is done I will start to relax a little bit and work on other projects, before we finally strive towards being able to announce the <b>second-level of soundposter.com</b> in 2015.
            </p>
            <p>&nbsp;</p>
            <h3>Idea background &amp; Credits</h3>
            <p>
                With soundposter.com we can depict any playlist on the web across many devices.
                Soundposter provides us an interaction format for audible websites.
            </p>
            <p>
                At this early stage of soundposter.com, there is no DIY interface yet. Please <a href="/sign-up">get in touch</a> with us if you would like to use soundposter.com, and we will help you do it.
                We aim to bring the creation process of visual setlists, lp-covers, booklets and gig-posters into the hands of listeners <i>and</i> artists.
            </p>
            <p>
                All its concepts were distilled after more than 2 years of supportive, friendly and open talk with many really cool people. Expect a blog post on the ideas and discussion which fueled the distillation process anytime soon. For now you can find out more about these guys here, they all have been <i>very</i> supportive to us:
            </p>
            <ul>
                <li><a href="http://all2gethernow.de/">all2gethernow e.V. (Berlin)</a><br/>(Network, Events &amp; Idea Development</li>
                <li><a href="http://www.rostfrei-gestalten.de">rostfrei gestalten</a><br/>(Gestaltung &amp; Produktion)</li>
                <li><a href="http://www.c3s.cc">C3S (Europe, Germany)</a><br/>(Marketing partner)</li>
                <li><a href="http://www.deepamehta.org">DeepaMehta e.V. (Berlin)</a><br/>(Inspirational Community &amp; Technical Support)</li>
                <li><a href="http://musicscatter.com/">MusicScatter (Berlin)</a><br/>(Friend - The new service for upcoming gigs in your city)</li>
                <li><a href="http://www.newthinking.de">newthinking communications GmbH (Berlin)</a><br/>(Network, Idea &amp; Business Development)</li>
                <li><a href="http://www.solution-scout.de">Solution Scout (Berlin)</a><br/>(Idea Development)</li>
                <li><a href="http://bandcamp.com">Bandcamp (International)</a><br/>(Streaming services, API-Provider)</li>
                <li><a href="http://soundcloud.com">SoundCloud (International)</a><br/>(Streaming services, API-Provider)</li>
            </ul>
            Thank you all for your unlimited support over the past two years.<br/><br/>
            Yours Truly (Berlin, Summer 2013)
        </div>

        <div class="backdrop"></div>

        <!--div class="main area">
            <div class="plan-a child-area">
                <h3>Plan A</h3>
                <p>..</p>
            </div>
            <div class="plan-b child-area">
                <h3>Plan B</h3>
                <p>...</p>
            </div>
            <div class="plan-c child-area">
                <h3>Plan C</h3>
                <p>....</p>
            </div>
        </div-->

        <div class="footer">
            <ul class="low-menu">
                <li><a href="/help">Help</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/browse">Explore</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/legal">Legal</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/pricing">Plans</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/about-us" class="selected">About us</a></li>
                <li><a href="/philosophy">Philosophy</a></li>
                <li><a href="/imprint">Imprint</a></li>
                <li><a href="http://blog.soundposter.com" title="Official Soundposter Blog">Blog</a></li>
            </ul>
            <div id="soundsystem" class="control player"></div>
        </div>
        <noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>