<!DOCTYPE html>
<html>

    <head>

        <title>Browse</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="title" content="Browse soundposters" />
        <meta name="keywords" content="creating, making, visual playlist, playlists, sound, music, web communication,
              tool, audible websites, publishing, platform, digital music distribution"/>
        <meta name="description" content="Soundposter is a platform for illustrating and publishing audible websites." />
        <meta name="author" content="Malte Reissig, http://www.mikromedia.de" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link rel="stylesheet" href="/com.soundposter.website/site/site.css"/>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/com.soundposter.website/site/site.js"></script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/jquery/jquery-1.9.1.min.js"></script>

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 598px	= mini-site.css',
                    '598px  to 790px	= mobile-site.css',
                    '790px  to 1032px	= tablet-site.css',
                    '1032px  to 1240px	= normal-site.css',
                    '1240px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

            $(document).ready(function(){
                site.interactive_browse_page()
            })


        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="side-panel">

            <a href="/" title="Frontpage on soundposter.com">
                <img class="home" src="/com.soundposter.website/images/logos/SP_Logo_ohne_dreieck_ffffff_blank_grounded.jpg" border="0"
                        width="256px" height="256px"/>
            </a><br/><br/>

            <div class="filter-menu">
                Browsing <span class="filter-item selected">soundposters</span><br/><br/>
                <span class="filter-item selected">Last edited first<br/></span><br/>

                <!-- a href="/browse/by_artists" class="filter-item">Artist</a>
                <a href="/browse/by_sounds"  class="filter-item">Sound</a-->
            </div>
            <br/><br/>

            <a th:href="${previous_page_url}" th:class="${!on_first_page} ? 'previous-page' : 'no-previous-page'">Previous</a>
            <!-- div class="image" title="This is soundposter.com"></div-->
            <a th:href="${next_page_url}" th:class="${!on_last_page} ? 'next-page' : 'no-next-page'">Next</a>

            <div class="container"></div>

        </div>

        <!-- div class="sort-menu">
            <a href="/browse/the-very-latest"  class="filter-item">The very latest</a>
        </div -->

        <div class="new-main">
            <div class="poster-preview" th:each="poster : ${set}">
                <div th:style="${poster.background_css}" class="graphic" th:attr="onclick=${poster.onclick}">
                    <!-- span class="username" th:title="'Username ' + ${poster.username}" th:alt="'Username ' + ${poster.username}" th:text="${poster.username}"></span-->
                    <a class="link" th:title="'Watch Soundposter: ' + ${poster.title}" th:href="${poster.url}" th:text="${poster.title}"></a>
                </div>
                <div class="poster-info">
                    <h4 th:text="${poster.subtitle}"></h4>
                    <span th:text="${poster.description}"></span><br/><br/>
                    <span class="last-modified" th:text="'Last modified ' + ${poster.last_modified}"></span> by
                    <!-- a class="user" th:href="'/' + ${poster.username}" th:text="${poster.username}"></a-->
                    <b th:text="${poster.username}"></b>
                </div>
            </div>
        </div>


        <div class="footer">
            <ul class="low-menu">
                <li><a href="/help">Help</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/browse" class="selected">Explore</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/legal">Legal</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/pricing">Plans</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/imprint">Imprint</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="/philosophy">Philosophy</a></li>
                <li><a href="http://blog.soundposter.com" title="Official Soundposter Blog">Blog</a></li>
            </ul>
            <div id="soundsystem" class="control player"></div>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>