<!DOCTYPE html>
<html>

    <head>

        <title>Help</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="title" content="Help with soundposters" />
        <meta name="keywords" content="browse, audible websites, soundposter, streams, music graphics, streaming, images, poster-graphics, mobile web app,
              gigposter, gigs, live, shows, festivals, graphics, sound, record, song, albums, records, soundposter index, all soundposter, tracks, sets, sounds, 
              bookmarking, tracklist, playlist, visual playlist, playlists, music, web communication, tool, publishing, platform, digital music distribution, web making"/>
        <meta name="description" content="Help on illustrating and publishing audible websites." />
        <meta name="author" content="Malte Reissig, http://www.mikromedia.de" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link rel="stylesheet" href="/com.soundposter.website/site/site.css"/>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/" : "http://stats.soundposter.com/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="title">
            <span class="punchline pre-logo">Help on illustrating sounds with </span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="main">
            <br/>
            <b>Table of contents</b><br/><br/>
            - <a href="#examples">Putting soundposter to use</a><br/>
            - <a href="#short-overview">Features of a standard soundposter</a><br/>
            - <a href="#qanda">Question &amp; Answers</a><br/>
        </div>

        <p>&nbsp;</p>

        <h2>What you can easily do with us, some examples<a name="examples">&nbsp;</a></h2>

        <div class="main standard-features">
            Make your <b>festival website</b> as attractive as your printed posters and get your mobile festival web-app on top.
            <!-- Promote your line-up online with an audible setlist framed within your personal and visual on-site festival guide. -->
            With a festival soundposter you allow thousands of visitors to share and listen to your festival schedule in advance, as well as providing your visitors an awesome gimme so they can maintain their heads as soon as they get on site.
            <div class="show-item"><br/>
                And yes, it's as simple as building a standard soundposter but have a look what our full-service offer has done to the Torstrassenfestival-Crew.
                <br/><br/>
                <a href="/torstrassenfestival/2013" title="Visit Berliner Torstrassenfestival '13">
                    Berliner Torstrassenfestival '13
                </a>
            </div>
        </div>

        <div class="main standard-features">
            Just do <b>brand new mixtapes</b> on the web and do them as you like, across streaming providers, albums, voice recordings, whatever.
            <div class="show-item"><br/>
                <a href="/moh/besto" title="Listen to herr ehrhardts &amp; the moh's exclusive besto mixtape on soundposter">
                    herr ehrhardt &amp; the moh - besto
                </a>
                <a href="/malt/suffdaddytape" title="Listen to malt's suff daddy tape">
                    Malt's - Suff Daddy Mixtape
                </a>
            </div>
        </div>

        <div class="main standard-features">
            Surprise your current favourite bar, artist or style of music with an <b>illustrated playlist</b>.
            <div class="show-item"><br/>
                <a href="/moh/chefarzt" title="Listen to moh's favourite ca_radioshows">
                    mohjils best four <i>c_a radio</i> recordings
                </a>

            </div>
        </div>

        <div class="main standard-features">
            Introduce your remotely living <b>friends or beloved ones</b> to some <b>new music</b> you just fell into, like into the very next bar without him or her.
            <div class="show-item"><br/>
                <a href="/stefano/songs" title="Listen to songs by stefaon for julie">
                    Songs by stefano for Julie
                </a>
                <a href="/malted/erlektrosoundsfuerwiebke" title="Listen to malteds elektrosounds fuer wiebke">
                    Malted's elektrosounds fuer wiebke
                </a>
            </div>
        </div>

        <div class="main standard-features">
            Of course, just do the page where your fans and listeners go first when they show off your <b>beautiful new online-record</b>. Do it with us.
            <div class="show-item"><br/>
                <a href="/a2n/unconvention_factory_berlin" title="Listen to a2n_unconvention : factory berlin">
                    a2n_unconvention : factory berlin
                </a>
                <a href="/moh/joestrommler" title="Get your copy of the very first joes trommler - free some">
                    joe's trommler - free some
                </a>
                <a href="/moh/hardtke-doppelpunkt" title="Get your copy of the very first hardtke - doppelpunkt">
                    hardtke - doppelpunkt
                </a>
            </div>
        </div>

        <div class="main standard-features">
            Send audible postcards or bring together your collection of web-radio streams. I mean, why not, if you feel like?
            <div class="show-item"><br/>
                <a href="/walther/postkarte" title="Listen to a postcard from Alt-Galow, Inter-Nationalpark">
                    Postcard from Alt-Galow, Nationalpark
                </a>
                <a href="/malted/webradios" title="Listen to a postcard from Alt-Galow, Inter-Nationalpark">
                    Malteds selection of web-radios
                </a>
            </div>
        </div>

        <p>&nbsp;</p>

        <h2>As a short overview<a name="short-overview">&nbsp;</a></h2>

        <div class="main standard-features">
            <b>Each soundposter</b> comes with the following set of <b>standard features:</b>
            <p>
                Unlimited number of tracks on a soundposter, tablet and mobile browser support for publishing web-apps,
                huge poster-graphic sizes possible on desktops, easy integration of soundposters into any website and special
                share features, also for varios social media channels, around single tracks.
            </p>
            <p>
                Furthermore each soundposter<br/>
                - automatically links each track to it's origin (streaming source page),<br/>
                - allows you to <i>label</i> and <i>link</i> a webpage of your choice, <br/>
                - allows rendering and placement of arbitrary texts on your soundposter,<br/>
                - comes with some more pre-configured <i>display options</i> to select from and<br/>
                - can embed your custom stylesheet definition file (CSS).
            </p>
            <p>
                For custom made interactives above the standard set of soundposter-features, please do not hesitate to get in touch <a href="mailto:support@soundposter.com">with us</a>.
            </p>
        </div>

        <p>&nbsp;</p>

        <h2>Question &amp; Answers<a name="qanda">&nbsp;</a></h2>

        <div class="main standard-features">
            <!--h3>Question &amp; Answers</h3-->

            <b>How to create a soundposter, in short?</b><br/>
            <i>Upload</i> your poster graphic to us, <i>arrange</i> your favourite sound streams on it and <i>publish</i> it.
            <br/><br/>
            For a better overview check out our new <a href="/intro">Introduction</a> page.
            <br/><br/>

            <b>What elements make up my soundposter?</b><br/>
            Every soundposter basically is made up of two things: <br/>
            - The so called <i>poster graphic</i>, which is a simple JPEG- or PNG-file <b>and</b> (as many) <br/>
            - URLs (as you want) pointing to publicly available <i>sound streams</i>.
            <br/><br/>
            For a better overview check out our new <a href="/intro">Introduction</a> page.
            <br/><br/>

        </div>

        <div class="backdrop"></div>

        <div class="content-links">
            <a href="/">Frontpage</a>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>