<!DOCTYPE html>
<html>

    <head>

        <title>Imprint soundposter.com</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="title" content="Imprint soundposter.com" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link rel="stylesheet" href="/com.soundposter.website/site/site.css"/>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="title">
            <span class="punchline pre-logo">Illustrate your playlists on the web with </span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="main">
            Hi. I am Malte Rei&szlig;ig and the creator of soundposter.com.<br/>
            <p>
                <img src="/com.soundposter.website/images/malte_foto.jpg" alt="Picture of Malte"/>
                I currently design and develop this publishing platform for you in my spare time, with my own two hands (Advertisement: <a href="http://mikromedia.de">mikromedia.de</a>), some coffee and lots of concentration. The concepts though, were distilled on a journey which started somewhat about 2 1/2 years ago and during which I talked with lots of <a href="/about-us">really cool people</a>.
            </p>
            <p>
                Additionally, what I have to point out here: I am standing on the shoulders of giants of whom most are working hard to keep the web open and you can find out about all of them in the <a href="http://blog.soundposter.com/tagged/technical">technical section of our blog</a>.
            </p>
            <p>
                <i>soundposter.com</i> is an idea and service developed &amp; provided by<br/><br/>Malte Rei&szlig;ig<br/><br/>
                Contact: malte|@|soundposter.com<br/>
                Mobile: +49 175 340 3734<br/><br/>
                Address:<br/>
                M&uuml;llerstra&szlig;e 59a<br/>
                13349 Berlin, Germany<br/>
                <br/>
                Website: <a href="http://www.mikromedia.de">www.mikromedia.de</a>
            </p>
        </div>

        <div class="backdrop"></div>

        <div class="footer">
            <ul class="low-menu">
                <li><a href="/contact">Contact</a></li>
                <li><a href="/browse">Explore</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/philosophy">Philosophy</a></li>
                <li><a href="/legal">Legal</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/imprint" class="selected">Imprint</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="http://blog.soundposter.com" title="Editing Soundposter">Blog</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/help">Help</a></li>
            </ul>
            <div id="soundsystem" class="control player"></div>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>