<!DOCTYPE html>
<html>

    <head>

        <title>Illustrating sounds on the web with soundposter.com</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="frontpage, audible websites, soundposter, streams, images, sound, music graphics, mobile web app,
              gigposter, poster graphics, records, recordings, albums, streaming, gigs, live, show, festivals, graphics, images, tracks, sets, sounds, 
              audience building, record, song, bookmarking, visual playlist, playlists, sound, music, web communication, publishing, platform, digital music distribution, web making"/>
        <meta name="description" content="Frontpage - Illustrating sounds on the web with soundposter." />
        <meta name="author" content="Malte Reissig, http://www.soundposter.com" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link href="/com.soundposter.website/site/site.css" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/com.soundposter.website/site/site.js"></script>

        <script type="text/javascript" src="/com.soundposter.website/script/vendor/jquery/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/jquery.ui/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/jquery.player/2.9.2/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/raphaeljs/raphael-min.js"></script>

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var poster = /*[[${poster}]]*/ '{}'
            var sound_url = /*[[${sound_url}]]*/ '{}'
            var sound_source_url = /*[[${sound_source_url}]]*/ '{}'
            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 598px	= mini-site.css',
                    '598px  to 790px	= mobile-site.css',
                    '790px  to 1032px	= tablet-site.css',
                    '1032px  to 1240px	= normal-site.css',
                    '1240px  to 1480px	= poster-site.css',
                    '1480px             = panorama-site.css'
                ]
            }

            $(document).ready(function(){
                // initialize player functionality
                site.initialize_player()
                // initialize play button hover function
                site.interactive_frontpage()
                site.set_resource(sound_url)
                //
                if (sound_url.indexOf('soundcloud') != -1) {
                    $('a.origin-btn').html('<img src="/com.soundposter.website/images/80x50_orange.png" width="60"'
                        + 'title="Visit the webpage of this sound and support the artist!">')
                } else if (sound_url.indexOf('poppler') != -1 || sound_url.indexOf('album') != -1 ) {
                    $('a.origin-btn').html('<img src="/com.soundposter.website/images/bandcamp_60x23_blue" '
                        + 'title="Visit the Bandcamp page of this track and support the artist!">')
                }
                // set page content
                if (window.document.location.href.indexOf('intro') != -1) {
                    console.log("> load intro page")
                    site.show_intro_view()
                } else if (window.document.location.href.indexOf('sign-up') != -1 ||
                           window.document.location.href.indexOf('contact') != -1) {
                    console.log("> load sign-up page")
                    site.show_sign_up_view()
                } else if (window.document.location.href.indexOf('pricing') != -1) {
                    console.log("> load plans page")
                    site.show_plans_view()
                } else if (window.document.location.href.indexOf('imprint') != -1) {
                    console.log("> load imprint page")
                    site.show_imprint_view()
                }
                // 
                site.render_player_controls()
            })

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>

        <!-- Piwik -->
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.infokitchen.net/" : "http://stats.infokitchen.net/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        /*]]>*/
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">
        
        <div class="side-panel">

            <h3 class="status"></h3>
            
            <div class="control" id="playback-control">
                <!-- img src="/com.soundposter.website/images/logos/SP_Logo_backgrounded_ffffff_play_512.jpg" height="256" id="play-button"
                         title="This is soundposter.com" th:title="'Listen to soundposter: ' + ${subtitle} + ' by ' + ${author}" /-->
                <div class="frontpage-track" title="Press play">
                    <!--span class="sound-label" th:text="${poster_name}"></span-->
                    <a th:href="'/' + ${profile_alias} + '/' + ${poster_alias} + '/' + ${sound_id}" title="Visit soundposter and see this track"
                       th:text="${poster_name}"></a><br/>
                    <span class="sound-label" th:text="${sound_name}"></span>
                    <!-- span class="sound-label" th:text="${artist_name}"></span><br/--><br/>
                    <a th:href="${sound_source_url}" title="Go to the source of this sound" class="origin-btn">Origin</a>
                </div>
            </div>
            
            <ul class="menu">
                <li><a href="javascript:site.show_sign_up_view()" title="Register an user account" class="signup-btn">Sign up</a></li>
                <li><a href="javascript:site.show_intro_view()" title="Introduction to our platform" class="intro-btn">Intro</a></li>
                <li><a href="/browse" class="explore-btn" title="Browse soundposter">Explore</a></li>
                <li><a href="javascript:site.show_plans_view()" title="Plans and Pricing" class="plans-btn">Subscriptions</a></li>
            </ul>
            
            <div id="soundsystem" class="control player"></div>
            <div class="container"></div>

            <ul class="secondary-menu">
                <!-- li><a href="/legal">Legal</a></li-->
                <li><a href="javascript:site.show_imprint_view()" title="Find out more about soundposter">Imprint</a></li>
                <li><a href="http://blog.soundposter.com" title="We do blog (from time to time)!">Blog</a></li>
                <!-- li><a href="/philosophy">Philosophy</a></li-->
                <!-- li><a href="/contact">Contact</a></li -->
                <!-- li><a href="/about-us">About us</a></li-->
            </ul>
            
        </div>

        <div id="hello">

            <div class="logo panel">
                
                <div class="title">
                    <span class="punchline pre-logo">Illustrating sounds on the web with </span>
                    <span class="higher-brand-type">soundposter.com</span> like <a class="posterlink" th:href="'/' + ${profile_alias} + '/' + ${poster_alias}" th:text="${poster_name}"></a><br/>
                </div>
                <div class="highlight">
                    <img th:src="${graphic}" class="preview" width="297" height="420" title="Selected soundposter.." /><br/>
                    <a href="/browse">Browse</a> all soundposters
                </div>
                <!-- <span class="selection-label">It's </span> <a class="link" th:href="${link}" th:text="${subtitle}"></a> -->

            </div>
            
            <div class="subtitle">

                When working with soundposters you can do a
                <span class="example"><a href="/torstrassenfestival/2014" title="Your guide to Torstrassen festival '14">festival web-app</a></span> to invite and guide your visitors on-site, build an
                <span class="example"><a href="/moh/chefarzt" title="Moh's recorded ca_radio sessions">audible gigposter</a> to promote your next live show, create a space for your</span>
                <span class="example"><a href="/a2n/unconvention_factory_berlin" title="a2n_unconvention : factory berlin record">online record</a> where all listeners get together</span> or just do it like we do and illustrate your favourite
                <span class="example"><a href="/malt/suffdaddytape" title="Suff Daddy Mixtape">set of sounds</a> on the web.</span>
                <!-- br/><br/>
                <span class="link">like <a class="bummer" href="/torstrassenfestival/2014" title="Berlin's Torstrassen festival Crew">TSF '14</a></span-->

            </div>


        </div>

        <div class="main-area">

        </div>

        <div class="footer">
            
        </div>

        <noscript>
            <p><img src="http://stats.infokitchen.net/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>
