<!DOCTYPE html>
<html>

    <head>

        <title>soundposter.com - create personal, audible websites with images</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="keywords" th:content="${keywords}"/>
        <meta name="description" th:content="${description}" />
        <meta name="title" th:content="${name}" />
        <meta name="author" th:content="${author}" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.2"/>

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Piwik, Modernizr and DeepaMehta 4. -->

        <!-- Piwik>
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        End Piwik Tracking Code -->

        <link rel="stylesheet" href="/com.soundposter.website/poster/base.css"/>
        <!--script type="text/javascript" src="http://modernizr.com/downloads/modernizr-latest.js"></script-->
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/modernizr/custom.36000.js"></script>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var poster = /*[[${poster}]]*/ '{}'
            var ADAPT_CONFIG = { path: '/com.soundposter.website/poster/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/js/adapt.min.js"></script>

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="left-side"></div>
        <div class="right-side"></div>

        <!-- ul class="top-menu">
            <li><a class="active" href="#">Welcome</a></li>
            <li><a href="/sign-up">Sign-up</a></li>
            <li><a href="/browse">Browse</a></li>
        </ul-->

        <div class="title">
            <span class="pre-logo">Welcome to&nbsp;</span><span class="logo">soundposter.com</span><br/>
        </div>

        <div class="subtitle">
            At the moment you can <a class="expanded" href="/sign-up">/sign</a> your interest to collaborate with us, read <a href="/#say-what">what others</a> or <a href="/about-us">/we say about us</a>, or just <a href="/browse">/browse</a> all soundposters.
        </div>

        <div class="header area">
            <div class="featured" th:attr="style='background-image:url(' + ${graphic} + ');'">
                <div class="headline"><a th:text="${subtitle}" th:href="${link}"></a></div>
                <div class="author"><a th:text="${author}" th:href="${link}"></a></div>
                <!-- img src="/com.soundposter.website/images/soundposter_play_button_600.png" class="play"
                        alt="Image: Play Random Soundposter" title="Image/Button: Play Random Soundposter Now" /-->
            </div>
        </div>

        <div class="main area">
            <div class="plan-a child-area">
                <h3>Plan A</h3>
                <p>..</p>
            </div>
            <div class="plan-b child-area">
                <h3>Plan B</h3>
                <p>...</p>
            </div>
            <div class="plan-c child-area">
                <h3>Plan C</h3>
                <p>....</p>
            </div>
        </div>

        <div class="main area">
            <a name="say-what">&nbsp;</a>
            <div class="info child-area">
                <h3>What others say?</h3>
                <div class="box">
                    <quote><span class="marks">&#8220;</span>Finally a player which allows me to make my record look really nice in the web.<span class="marks">&#8221;</span></quote>
                    <b class="by"><a href="/posterview/moh/joestrommler" title="Soundposter: Joes Trommler">Ben (Joes Trommler)</a></b><br/><br/>
                    <quote><span class="marks">&#8220;</span>And a very special highlight: Based on our SoundCloud-Compilation we have a fantastic tool allowing you to cruise over the sound and the area of the Torstra&szlig;enfestival in advance.<span class="marks">&#8221;</span></quote>
                    <b class="by"><a href="https://newthinking.de/2012/08/24/die-karte-der-zeitplandie-musik-torstrasen-festival-2012/" title="Blog entry (German) by newthinking communications GmbH">newthinking</a></b>
                </div>
                <div class="box">
                    <quote><span class="marks">&#8220;</span>This is absolutely the perfect tool for events with music in the program.<span class="marks">&#8221;</span></quote>
                    <b class="by"><a href="http://www.blogbleistift.de/post/30029987835/soundposter" title="Blog und Bleistift (German)">Anna-Lena</a></b><br/><br/>
                    <quote><span class="marks">&#8220;</span>Through this piece of technology I came across Oscar &amp; The Wolf.<span class="marks">&#8221;</span></quote>
                    <b class="by"><a href="http://onrealitysedge.wordpress.com/2012/08/29/oscar-the-wolf-und-das-torstrasenfestival/" title="Blog: On Reality's Edge (German)">Christoph</a></b>
                </div>
            </div>
        </div>

        <ul class="low-menu">
            <li>Help</li>
            <li>Legal / Imprint</li>
            <li>Philosophy</li>
            <li><a href="/about-us">About us</a></li>
            <li><a href="http://soundposter.tumblr.com" title="Editing Soundposter">Blog</a></li>
        </ul>

        <!--noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript-->

    </body>

</html>