<!DOCTYPE html>
<html>

    <head>

        <title>soundposter.com - create personal, audible websites with images</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="keywords" th:content="${keywords}"/>
        <meta name="description" th:content="${description}" />
        <meta name="title" th:content="${name}" />
        <meta name="author" th:content="${author}" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Piwik, Modernizr and DeepaMehta 4. -->

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

        <link rel="stylesheet" href="/com.soundposter.website/poster/base.css"/>
        <link rel="stylesheet" href="/com.soundposter.website/poster/site/site.css"/>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/poster/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/js/adapt.min.js"></script>

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="title">
            <span class="punchline pre-logo">Picturize your playlists with </span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="subtitle">
            Express <a href="/sign-up">your interest</a> to collaborate with us. <a href="/browse">Browse</a> all soundposters. Additionally, you can read <a href="/#say-what">what others say</a> or what <a href="/about-us">/we say about us</a>.
        </div>

        <div class="main area">
            <h3>Legal</h3>
            <p>
                The soundposter platform references sounds uploaded on other streaming services, like soundcloud.com, bandcamp.com and the like. Soundposter.com takes no responsibility for any potential copyright infringements at the sound sources (i.e. the streamed playlists that soundposter.com links to graphics).
            </p>
            <p>
                At t<span class="pre-logo">Welcome to&nbsp;</span>his early stage of soundposter.com, there is no DIY interface yet. Please get in touch with us if you would like to use soundposter.com, and we will help you do it.
            </p>
            <h4>Notice</h4>
            <p>
                <!-- We herewith explicitly articulate our committment to respect the intellectual property right of its owners. -->
                We respect the intellectual property right of others and we are not responsible for the contents linked in and promoted on our platform.<br/><br/>
                And to be clear: As service providers of this platform we discourage our users of spreading any racist or sexistic thoughts via our infrastructure since (a) it doesn't help anyone and (b) your wasting precious lifetime on planet earth.<br/><br/>
                So, if you notice any irresponsible publishing behaviour on soundposter.com please do not hesitate to report this incident to abuse|@|soundposter.com.<br/><br/>
                Further clarification: We do not host or stream any music from our web-servers. Instead, technically spoken, we provide an alternative and user-curated access to online-music which was published elsewhere and where the availability of the stream is under direct control by the artist or some rightfulness publisher.<br/><br/>
                If you have informed concerns on the rightfulness of certain contents on our website, please get in touch with us directly via phone (see below), we assure you that we'll investigate your issue and try to resolve it.<br/><br/>
            </p>
            <h3>Privacy &amp; Analytics</h3>
            <p>
                Informations concerning your privacy on soundposter.com: For analytical purposes we collect anonymized (e.g. 192.168.x.x) usage statistics for all visits to our platform in (a) the access and error logs of our webservers and (b) in a Piwik installation based on one of our webserver. Irregularly we're creating anonymized usage reports and then delete the old data from our webservers. We do not share these anonymized access-data with anyone else, except that we do make anonymized usage-statistics available to the creators of a soundposter.
            </p>
            <h3>Imprint</h3>
            <p>
                The complete soundposter.com platform was designed &amp; developed in my spare-time, with my own two hands (Advertisement: <a href="http://mikromedia.de">mikromedia.de</a>), some coffee and lots of concentration. The concepts though, were distilled on a journey which started somewhat about 2 years ago and during which I talked with lots of <a href="/about-us">really cool people</a>.
            </p>
            <p>
                And what I also want to point out here: I am surely standing on the shoulders of giants of whom most are working hard to keep the web open and you can find out about all of them in the <a href="http://blog.soundposter.com/tagged/technical">technical section of our blog</a>.
            </p>
            <p>
                <i>soundposter.com</i> is an idea and service developed &amp; provided by<br/><br/>Malte Rei&szlig;ig<br/><br/>
                Contact: malte|@|soundposter.com<br/>
                Mobile: +49 177 757 42 88<br/><br/>
                Address:<br/>
                M&uuml;llerstra&szlig;e 59a<br/>
                13349 Berlin, Germany<br/>
                <br/>
                Website: <a href="http://www.mikromedia.de">www.mikromedia.de</a>
            </p>
        </div>

        <div class="footer area">
            <ul class="low-menu">
                <li><a href="/philosophy">Philosophy</a></li>
                <li><a href="/legal" class="selected">Legal / Imprint</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="http://blog.soundposter.com" title="Editing Soundposter">Blog</a></li>
                <!-- li><a href="http://twitter.com/soundposter" title="Follow us on Twitter">Follow us @soundposter</a></li-->
            </ul>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>