<!DOCTYPE html>
<html>

    <head>

        <title>Legal notice on soundposter.com</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link rel="stylesheet" href="/com.soundposter.website/site/site.css"/>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="title">
            <span class="punchline pre-logo">Legal notice on </span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="main">
            <h3>Legal</h3>
            <p>
                The soundposter platform references sounds uploaded on other streaming services, like soundcloud.com, bandcamp.com and the like. Soundposter.com takes no responsibility for any potential copyright infringements at the sound sources (i.e. the streamed playlists that soundposter.com links to graphics).
            </p>
            <p>
                At this early stage of soundposter.com, please just get in touch with us if you would like to use soundposter.com as your platform, and we will help you do it.
            </p>
            <h4>Notice</h4>
            <p>
                <!-- We herewith explicitly articulate our committment to respect the intellectual property right of its owners. -->
                We respect the intellectual property right of others and we are not responsible for the contents linked in and promoted on our platform.<br/><br/>
                And to be clear: As service providers of this platform we discourage our users of spreading any racist or sexistic thoughts via our infrastructure since (a) it doesn't help anyone and (b) your wasting precious lifetime on planet earth.<br/><br/>
                So, if you notice any irresponsible publishing behaviour on soundposter.com please do not hesitate to report this incident to abuse|@|soundposter.com.<br/><br/>
                Further clarification: We do not host or stream any music from our web-servers. Instead, technically spoken, we provide an alternative and user-curated access to online-music which was published elsewhere and where the availability of the stream is under direct control by the artist or some rightfulness publisher.<br/><br/>
                If you have informed concerns on the rightfulness of certain contents on our website, please get in touch with us directly via phone (see below), we assure you that we'll investigate your issue and try to resolve it.<br/><br/>
            </p>
            <h3>Privacy &amp; Analytics</h3>
            <p>
                Informations concerning your privacy on soundposter.com: For analytical purposes we collect anonymized (e.g. 192.168.x.x) usage statistics for all visits to our platform in (a) the access and error logs of our webservers and (b) in a Piwik installation based on one of our webserver. Irregularly we're creating anonymized usage reports and then delete the old data from our webservers. We do not share these anonymized access-data with anyone else, except that we do make anonymized usage-statistics available to the creators of a soundposter.
            </p>
        </div>

        <div class="backdrop"></div>

        <div class="footer">
            <ul class="low-menu">
                <li><a href="/help">Help</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/browse">Explore</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/legal" class="selected">Legal</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/pricing">Plans</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/imprint">Imprint</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="/philosophy">Philosophy</a></li>
                <li><a href="http://blog.soundposter.com" title="Official Soundposter Blog">Blog</a></li>
            </ul>
            <div id="soundsystem" class="control player"></div>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>