<!DOCTYPE html>
<html>

    <head>

        <title>Philosophy on soundposter.com</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
        <meta name="description" content="Philosophy behind soundposter.com"/>
        <meta name="keywords" content="browse, audible websites, soundposter, streams, music graphics, streaming, images, poster-graphics, mobile web app,
            gigposter, gigs, live, shows, festivals, graphics, sound, record, song, albums, records, soundposter index, all soundposter, tracks, sets, sounds, 
            bookmarking, tracklist, playlist, visual playlist, playlists, music, web communication, tool, publishing, platform, digital music distribution, web making"/>
        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link rel="stylesheet" href="/com.soundposter.website/site/site.css"/>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/" : "http://stats.soundposter.com/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="title">
           <span class="punchline pre-logo">Illustrating sounds on the web with </span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="main">
            <h3>What is this and what can I do with it?</h3>
            <p>
                Soundposter names our interaction design for audible websites.
            </p>
            <p>
                And why this platform? Yes. With this platform we want to give the creation process of published music graphics into the hands of artists <i>and</i> listeners.
                Topical audio-landscapes wait to be drawn and this is digital space. Soundposters can easily exceed the boundaries of our displays. If you haven't seen it, go <a href="/browse">check it out</a>.
            </p>
            <p>
                With this tool we want to fill a gap in the web communications for artists, bookers and festival-organizers alike.
                Or as <a href="http://www.jrimixes.de">jri</a> has put it: <quote><span class="marks">&#8220;</span>Soundposter brings back the face to digital music.<span class="marks">&#8221;</span></quote>
            </p>
            <p>
                Digital music tracks connected to record covers, booklets, gig posters, or sample tracks put on a music festival map &mdash; that's what soundposter.com helps you to do.<br/><br/>
            </p>
            <h3>Money, Honey?</h3>
            <p>
                Our business plan is to provide soundposter.com completely free of ads. As a consequence of that: The usage of the soundposter-tool for publishers will not be completely free of charge, however low priced.
            </p>
            <p>
                Additionally we will offer distinct subscription possibilities for all creators of soundposters as well as the option for everyone to publish single soundposters.
            </p>
            <h4>Custom service</h4>
            <p>
                If you wish to publish your festival guide <i>audible</i>, <i>filterable</i> and <i>accessible</i> to all people on the world wide web endorsing smartphones, and provide the soundposter embeddable for other websites (like <a href="http://torstrassenfestival.de">TSF</a> did), do not hesitate to <a href="/sign-up">leave us a message</a> and we'll get right back to you.
            </p>
            <p>
                Furthermore, soundposter claims to follow the rules of fairness and to communicate openly. So, if you have any kind of questions, stimulations or ideas for enhancements we are looking forward to reading your input or concerns about our work at malte|at|soundposter.com or via <a href="http://twitter.com/soundposter">Twitter</a>.
            </p>
        </div>

        <div class="backdrop"></div>

        <div class="content-links">
            <a href="/">Frontpage</a>
        </div>

        <!-- Today it seems to be the case that someone does not suceed in using CSS selectors :D - but i need to deploy .. TSF'!5 is on its doorsteps!-->
        <div id="social-media" class="footer bottom">
            <a class="titter" href="https://twitter.com/soundposter" style="text-decoration: none;">
                <img src="/com.soundposter.website/images/1433614070_twitter_circle_gray.png" title="Follow us on twitter" alt="Graphic, suggesting you to follow us on twitter"/>
            </a>
            <a class="tumlr" href="http://blog.soundposter.com" style="text-decoration: none;">
                <img src="/com.soundposter.website/images/1433614072_tumblr_circle_gray.png" title="Check us out on tumblr" alt="Graphic, suggesting you to follow us on tumblr"/>
            </a>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>