<!DOCTYPE html>
<html>

    <head>

        <title>soundposter.com - create personal, audible websites with images</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="keywords" th:content="${keywords}"/>
        <meta name="description" th:content="${description}" />
        <meta name="title" th:content="${name}" />
        <meta name="author" th:content="${author}" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Piwik, Modernizr and DeepaMehta 4. -->

        <!-- Piwik>
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        End Piwik Tracking Code -->

        <link rel="stylesheet" href="/com.soundposter.website/poster/base.css"/>
        <!--script type="text/javascript" src="http://modernizr.com/downloads/modernizr-latest.js"></script-->
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/modernizr/custom.36000.js"></script>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/poster/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/js/adapt.min.js"></script>

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="title">
            <span class="pre-logo">Welcome to&nbsp;</span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="subtitle">
            At the moment you can <a href="/sign-up">/sign</a> your interest to collaborate with us or <a href="/browse">/browse</a> all soundposters. Additionally, you can read <a href="/#say-what">what others say</a> or what <a href="/about-us">/we say about us</a>.
        </div>

        <div class="main area">
            <h3>What is it and what can I do with it?</h3>
            <p>
                Soundposter is a new format for audible websites which "brings back the face to digital audio distribution", as <a href="http://www.jrimixes.de">jri</a> put it.<br/><br/>
                And with this platform you can create awesome audible websites to promote your festival or event, like an upcoming gig. Or you can easily orchestrate your favourite set of sound-streams available on the web to images and publish them wherever you want.<br/><br/>
                Have a look at what others did with soundposter in our <a href="/browse">/browse</a> section.
            </p>
            <!--
            <h3>The Way</h3>
            <p>
                In our next step we plan to let you aggregate your favourite sounds in a playlist with the support of major streaming-providers available on the web. This functionality is similatr to what e.g. <a href="http://www.musicplayr.com">musicplayr.com</a> is currently doing for me (nicely).
                Having accomplished that feat, we'll step on to actually enable you to depict and visualize your sounds and soundsets for various audiences more easily as it is now. And after that we will be able to work hard on making sharing of your soundposter a lot more compatible with other services on the web.
            </p> -->
            <h3>Money, Honey?</h3>
            <p>
                We plan to provide soundposter completely free of ads and as a consequence the usage for publishers will not be completely free of charge. The good news are: It's low priced and
                we will offer distinct subscription possibilities for all creators of soundposters as well as the option for everyone to publish single soundposters.<br/><br/>
                Additionally we'll have on offer some unique features like publishing your festival guide audible, filterable and accessible to all your visitors endorsing smartphones.
                <!--Furthermore, soundposter claims to follow the rules of fairness and to communicate openly.
                We fully and unconditionally respect the intellectual property of third parties. If you have any kind of questions, stimulations or ideas for enhancements
                we are looking forward to reading your input about soundposter at info|at|soundposter.com or via <a href="http://twitter.com/soundposter">Twitter</a>. -->
            </p>
        </div>

        <div class="footer area">
            <ul class="low-menu">
                <li><a href="/philosophy" class="selected">Philosophy</a></li>
                <li><a href="/legal">Legal / Imprint</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="http://blog.soundposter.com" title="Editing Soundposter">Blog</a></li>
                <!-- li><a href="http://twitter.com/soundposter" title="Follow us on Twitter">Follow us @soundposter</a></li-->
            </ul>
        </div>

        <!--noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript-->

    </body>

</html>