<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>

        <title th:text="${name} + ' - soundposter.com/' + ${username} + '/' + ${webalias}">Soundposter: Hello, What!?</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="keywords" th:content="${keywords} + ${hashtag}"/>
        <meta name="description" th:content="${description}" />
        <meta name="title" th:content="${name} + ' - ' + ${subtitle}" />
        <meta name="author" th:content="${author}" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.9, user-scalable=no"/>
        <!-- meta name="apple-mobile-web-app-capable" content="yes" /-->

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Modernizr and DeepaMehta 4. -->

        <link rel="stylesheet" href="/com.soundposter.website/poster/base.css" />
        <link rel="stylesheet" th:href="${stylesheet}" />
        <link rel="stylesheet" href="/com.soundposter.website/script/vendor/jquery.ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" href="/com.soundposter.website/script/vendor/jquery.mobile/jquery.mobile.custom.structure.min.css" />
        <!-- link rel="stylesheet" href="/com.soundposter.website/script/vendor/jquery.mobile/jquery.mobile.custom.theme.min.css" /-->

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

        <script type="text/javascript" src="/com.soundposter.website/script/js/jquery.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            $(document).bind("mobileinit", function() { $.mobile.ajaxEnabled = false })
        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/jquery.ui/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/jquery.mobile/jquery.mobile-1.3.2.min.js"></script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/raphaeljs/raphael-min.js"></script>
        <!-- script type="text/javascript" src="/com.soundposter.website/script/vendor/raphaeljs/g.raphael-min.js"></script-->
        <!-- script type="text/javascript" src="/com.soundposter.website/script/js/jquery.transform.js"></script>
        <script type="text/javascript" src="/com.soundposter.website/script/js/jquery.grab.js"></script-->
        <script type="text/javascript" src="/com.soundposter.website/script/js/jquery.jplayer.min.js"></script>
        <!-- script type="text/javascript" src="/com.soundposter.website/script/js/mod.csstransforms.min.js"></script-->
		<!-- script type="text/javascript" src="/com.soundposter.website/script/js/0.4/soundposter.js"></script-->
        <script type="text/javascript" src="/com.soundposter.website/poster/poster.js"></script>
        <!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->
        <!-- script type="text/javascript" src="http://modernizr.com/downloads/modernizr-latest.js"></script-->
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/modernizr/custom.36000.js"></script>
        <!-- http://stackoverflow.com/questions/4488601/jquery-draggable-images-on-ipad-iphone-how-to-integrate-event-preventdefau/4488662#4488662 -->
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/poster/', dynamic: true,
                range: [
                    '0px    to 410px	= mobile-portrait.css',
                    '410px  to 610px	= mobile-panorama.css',
                    '610px  to 1050px	= tablet.css',
                    '1050px  to 1380px	= poster.css',
                    '1380px				= panorama.css'
                ]
            }

            var username = /*[[${username}]]*/ null
            var webalias = /*[[${webalias}]]*/ null
            var hashtag = /*[[${hashtag}]]*/ ""
            var subtitle = /*[[${subtitle}]]*/ ""
            var description = /*[[${description}]]*/ ""
            var menu_label = /*[[${setlist_label}]]*/ "Setlist"
            var buylink_href = /*[[${buylink_href}]]*/ null
            var buylink_label = /*[[${buylink_label}]]*/ "Artist Link"

            var soundposter = /*[[${poster}]]*/ '{}'
            var graphic = /*[[${graphic}]]*/ undefined
            var buylink = /*[[${buylink}]]*/ '{}'
            var setlist = /*[[${setlist}]]*/ '{}'
            var selection = /*[[${track}]]*/ '{}'

            $(document).ready(function() {
                // fixme: poster-view seem to not initalize correctly if posters have no buylink set
                poster.initialize(JSON.parse(soundposter), graphic, JSON.parse(buylink), JSON.parse(setlist), selection, username, webalias)
            })

            $(window).resize(poster.handle_resize)
            poster.handle_resize() // fire this for chromium once

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.webapp/script/js/adapt.min.js"></script>
    </head>

    <body class="poster">

        <!-- jQuery Mobile inserts a page-containing div itself directly here.-->

        <div data-role="page" class="jquery-mobile-container">

            <div id="soundsystem" class="control player"></div>
            <audio src="" id="channel" class="control">HTML5 audio not supported</audio>
            <div id="loading-area"></div>

            <div class="postergraphic">
                <div id="interactives"></div>
                <img src="" class="graphic"/>
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100" height="210"
                        id="dummy_movie" align="middle">
                    <param name="movie" value="/com.soundposter.website/script/js/Jplayer.swf"/>
                </object>
            </div>

            <div class="notifications"></div>

            <ul class="top-menu">
                <li><a id="postername" class="active" href="javascript:;" th:text="${name}">Name</a></li>
                <li><a id="sign-up" href="#embed" onclick="javascript:poster.embed()" title="Embed this soundpster on your website">Embed</a></li>
                <li><a id="browse" href="/browse" onclick="javascript:;" title="Browse all exsting soundposter">Browse</a></li>
            </ul>

            <div class="controls">
                <div id="selection">Trackname</div>
                <div id="jp_container_1">
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                        <div class="timer"></div>
                    </div>
                    <a href="javascript:;" class="jp-play btn">Play</a>
                    <a href="javascript:;" class="jp-pause btn">Pause</a>
                    <a href="javascript:;" class="jp-prev btn">Previous</a>
                    <a href="javascript:;" class="jp-next btn">Next</a>
                    <a href="javascript:poster.toggle_tracklist_view()" class="tracklist-toogle">Setlist</a>
                </div>
            </div>

            <!-- div class="setlist" data-filter="true">
                <ul>
                    <li>
                        <div class="element">Track One: This is how we do it.</div>
                    </li>
                </ul>
            </div-->

            <div class="lower-menu">
                <a class="source" href="javascript:poster.go_to_source()">Source</a>
                <a class="share" href="javascript:poster.share()">Tweet</a>
                <a class="support-link" href="javascript:;" target="_blank" rel="publisher"></a>
            </div>


            <div data-role="content" id="tracklist">
                <ul class="listing" data-role="listview" data-theme="a">
                    <li>
                        <div class="element">
                            Track One. If you're an android user, consider installing
                            <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox_beta">firefox</a>.
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end jquerymobile page -->
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>