<!DOCTYPE html>
<html>

    <head>

        <title>soundposter.com - Illustrate your playlists</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!--
            Note: We are proudly build on free and open source tools, namely jQuery, jQuery Mobile, jQuery UI,
            jQuery Player, jQuery Touch Punch, Adapt.js, Radphael, Modernizr and DeepaMehta 4.
        -->

        <link rel="stylesheet" href="/com.soundposter.website/site/site.css"/>
        <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css" />

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

        <link rel="stylesheet" href="/com.soundposter.website/poster/site/site.css"/>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/vendor/adapt/adapt.min.js"></script>

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="title">
            <br/>
            <span class="punchline pre-logo">Thank you four sending us a message on</span>
            <a href="/" title="Go back to front page">soundposter.com</a>
        </div>

        <br/><br/>

        <div class="logo">
            <a href="/" title="Go back to our frontpage">
                <img src="/com.soundposter.website/images/logos/neuer_entwurf_big_size_600.png" height="450" title="This is soundposter.com" />
            </a>
        </div>

        <div class="footer">
            <ul class="low-menu">
                <li><a href="/contact" class="selected">Contact</a></li>
                <li><a href="/browse">Explore</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/philosophy">Philosophy</a></li>
                <li><a href="/legal">Legal</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/imprint">Imprint</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="http://blog.soundposter.com" title="Editing Soundposter">Blog</a></li>
            </ul>
            <ul class="low-menu">
                <li><a href="/help">Help</a></li>
                <li><a href="/pricing">Plans</a></li>
            </ul>
            <div id="soundsystem" class="control player"></div>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>