<!DOCTYPE html>
<html>

    <head>

        <title>soundposter.com - create personal, audible websites with images</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="keywords" th:content="${keywords}"/>
        <meta name="description" th:content="${description}" />
        <meta name="title" th:content="${name}" />
        <meta name="author" th:content="${author}" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

        <!-- Note: We are proudly build on free and open source tools, namely jQuery, Piwik, Modernizr and DeepaMehta 4. -->

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.soundposter.com/p/" : "http://stats.soundposter.com/p/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script>
        <!-- End Piwik Tracking Code -->

        <link rel="stylesheet" href="/com.soundposter.website/poster/base.css"/>
        <link rel="stylesheet" href="/com.soundposter.website/poster/site/site.css"/>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

            var ADAPT_CONFIG = { path: '/com.soundposter.website/poster/site/', dynamic: true,
                range: [
                    '0px    to 710px	= mobile-site.css',
                    '710px  to 960px	= tablet-site.css',
                    '960px  to 1480px	= poster-site.css',
                    '1480px				= panorama-site.css'
                ]
            }

        /*]]>*/
        </script>
        <script type="text/javascript" src="/com.soundposter.website/script/js/adapt.min.js"></script>

    </head>

    <body class="page" th:attrappend="class=${' ' + pageId}">

        <div class="title">
            <span class="punchline pre-logo">Illustrate your playlists with </span><span class="logo"><a href="/" title="Back Home">soundposter.com</a></span><br/>
        </div>

        <div class="subtitle">
            Express <a href="/sign-up" class="active">your interest</a> to collaborate with us. <a href="/browse">Browse</a> all soundposters. Additionally, you can read <a href="/#say-what">what others say</a> or what <a href="/about-us">we say about us</a>.
        </div>

        <div class="main area">
            <h3>Thanks!</h3>
            And, if you like, stay around and <a href="/browse">browse</a> some soundposters.
            <br/><br/>
            Cheers!
        </div>

        <div class="footer area">
            <ul class="low-menu">
                <li><a href="/philosophy">Philosophy</a></li>
                <li><a href="/legal">Legal / Imprint</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="http://blog.soundposter.com" title="Editing Soundposter">Blog</a></li>
                <!-- li><a href="http://twitter.com/soundposter" title="Follow us on Twitter">Follow us @soundposter</a></li-->
            </ul>
        </div>

        <noscript>
            <p><img src="http://stats.soundposter.com/p/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>

    </body>

</html>