.player {
  font-family: "Myriad Pro Regular","Trebuchet MS", sans-serif;
  /** bottom: 40px; left: 40px; position: fixed; ***/ z-index: 2003;
  top: -8px; left: 20px; position: fixed;
  /** background-color: #e8e8e8; border: 1px solid #2a75c6;**/
}

#jp-container .track-name {
  background-color: #383838; padding: 10px; color: #40b0e2;
}

.player a img {
  border: none;
  border: 0;
}

.player a.jp-prev img,
.player a.jp-next img {
  position: relative; top: -2px; padding-left:4px; padding-right: 4px;
}

.player li.playFromStart,
.player li.myTrackname,
.player li.jp-current-time,
.player li.jp-duration {
  margin-top: 3px;
}

.player a.jp-volume-bar {
  background-color: #000; color: #fff; border: 1px solid #000; position: relative; top: 2px; padding: 5px;
}

.player a.jp-volume-bar:hover {
  background-color: #fff; color: #000; border: 1px solid #fff; position: relative; top: 2px; padding: 5px
}

.player ul {
  list-style-type:none; padding: 0px; overflow: hidden;
}

/***.map-start img {
  -moz-box-shadow: 3px 3px 4px #fff;
  -webkit-box-shadow: 3px 3px 4px #fff;
  box-shadow: 3px 3px 4px #fff;

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ffffff')";
}**/

.jp-play-bar {
  background-color: #40B0E2;
  /** background: url("jplayer.blue.monday.jpg") repeat-x scroll 0pt -218px transparent **/
  height: 100%;
}

.jp-progress {
  height: 25px; width: 185px;
  position: relative; top: 2px; left: 180px;
}

.jp-unmute, .jp-stop {
  display:none;
}

.player li {
  float:left;
  margin-right:1em; 
  color: #40b0e2;
}

.player p span.track-name {
  color: #fff;
}

